[2019-07-04 04:34] vesper8 opened #9 "this looks great but..."
what the Tailwind community badly needs is someone to fork https://github.com/bootstrap-vue/bootstrap-vue and make it all work with Tailwind instead of Bootstrap!!

Maybe that someone could be you.. Since you've already begun ;-)

[2019-07-04 14:36] alfonsobries commented on #9
Yeah that's an option but I personally prefer to have more control over the components, I use it myself in my projects, also is a personal challenge an exercise, so I will leave the current path as is it for now

[2019-07-04 14:36] #9 closed

[2019-07-10 16:42] rlam3 opened #10 "Tutorial to use with nuxt.js?"
Tutorial to use with nuxt.js?

[2019-07-10 17:00] alfonsobries commented on #10
I will add that to the docs but in the meantime you just need to create a file like

`plugins/vue-tailwind.js`

with the following content

[code]

Then in the `nuxt.config.js` add the plugin in the plugins array

[code]

That should be enough to register the components

[2019-07-10 17:01] alfonsobries commented on #10
In this project I use nuxt with this package, maybe its useful for you https://github.com/alfonsobries/laravel-nuxt-client

[2019-07-13 01:02] alfonsobries commented on #10
I will close this due inactivity

[2019-07-13 01:02] #10 closed

[2019-07-15 18:45] natecorkish opened #11 "[Features] Steppers and Tabs"
I think tabs and steppers would be a great feature, what do you think?

[2019-07-15 18:47] alfonsobries commented on #11
Sounds good! I think the tabs are more usual as an starting point I will add that to my todo list

[2019-07-15 18:56] natecorkish commented on #11
I love this, I'm moving over from vuetify to this. So I'll jump in with pull requests and what-not. Also, do you know for the dropdown, can we replace text with an icon so it looks something like so:

<img src="https://i.imgur.com/UpuSEGq.png">

Should I create a new issue for that?

[2019-07-15 22:40] alfonsobries commented on #11
Yeah its possible you can use the `button-content ` slot

[code]

Notice that this component internally uses a `<t-button />` so you probably will need to update the template of the button also, you can do that with the `buttonProps` prop

This a piece of code of a project where I do that:
[code]

PD:  im not happy with how the button props work in this component I probably will refactor it soon

[2019-07-16 06:40] natecorkish opened #13 "[Feature] Navigation drawer"
So for the new issue, I'm working on a navigation drawer, is that something you'd be interested in?

Here's some screenshots  of what I have up to now;

**Left:**

<img src="https://i.imgur.com/AMQPXPq.png">

**Right:**

<img src="https://i.imgur.com/xZiHQh6.png">

**Bottom**

<img src="https://i.imgur.com/JZW4JbC.png">

**Top**

<img src="https://i.imgur.com/7V08rvs.png">

**Fullscreen**

<img sr

[2019-07-17 01:48] natecorkish opened #14 "[bug] Custom Modal theme not working with dist files"
**src/main.js**

[code]

**js/plugins/vuetailwind**

[code]

**modal.js**

[code]

It doesn't work, but when I change it from :

[code]

to:

[code]

My custom theme works, I'm not sure if this is intentional or not because of the docs doesn't include the /src/index part

<img src="https://i.imgur.com/x3l2fCc.png">

https://vue-tailwind.com/#install-and-use

[2019-07-17 14:34] alfonsobries commented on #14
Hi, yeah should be an error, I will try to fix it in later today

[2019-07-17 14:34] alfonsobries commented on #13
Yeah like it

[2019-07-18 03:31] alfonsobries commented on #14
Cannot replicate the problem even create a fresh application, are you using the latest version of the package (0.1.27)

[2019-07-18 06:08] natecorkish commented on #14
Yep. Using:

[code]

I've just checked, it's not just modals, it seems to be for all custom themes.

`import VueTailwind from 'vue-tailwind'`

<img src="https://i.imgur.com/2Co5qc4.png">

`import VueTailwind from 'vue-tailwind/src/index'`

<img src="https://i.imgur.com/ARWhlJE.png">

[2019-07-18 06:25] natecorkish commented on #14
Give this repo a clone, and see: https://github.com/natecorkish/bugreport

You can edit `src/js/plugins/vuetailwind/index.js`

[2019-07-18 15:41] alfonsobries commented on #14
cool that will be helpful @natecorkish, again I will try to spend some time later today

[2019-07-18 15:41] alfonsobries commented on #13
I will close this since is not an issue, but again I like the idea

[2019-07-18 15:41] #13 closed

[2019-07-18 15:41] #11 closed

[2019-07-18 23:33] alfonsobries commented on #14
Should be fixed now, try to download the latest version

[2019-07-19 20:27] #14 closed

[2019-08-09 15:44] gego-soft opened #15 "Dropdown Loading Issue"
I used Dropdown for menu, it works good. But it loads every time. See the video.

https://drive.google.com/file/d/168lpNFNru5fdORWsddMugHDggEyvGSwE/view

Any fixes

Thanks in advance

[2019-08-09 21:20] alfonsobries commented on #15
hi @gego-soft, currently im on vacations im back in a week, I will try to check the issue once I back

[2019-09-02 13:51] mrdionjr opened #16 "valueAttribute and textAttribute for select not working but referenced in docs"
I would like to set a custom value and text attribute for TSelect component but it is not working. Apparently theses props are not referenced in the component's props nor used in the template.

https://github.com/alfonsobries/vue-tailwind/blob/e8fd64328f068daa5222a2eba9ab25a192125114/src/elements/TSelect.vue#L33-L38

[2019-09-02 18:59] alfonsobries commented on #16
These attributes are defined in this mixin https://github.com/alfonsobries/vue-tailwind/blob/master/src/mixins/hasMultioptions.js

Maybe if you share part of your code I can help?

[2019-09-02 19:06] alfonsobries commented on #15
@gego-soft you are adding the component inside a HTML template right? I mean is not a SPA or something? because you can use v-cloak attribute to load the component when its ready

v
https://vuejs.org/v2/api/#v-cloak

Not sure if that helps, let me know

[2019-09-05 01:58] mrdionjr commented on #16
Closing this issue, since I was using an outdated version. Just updated to the latest version and it works now. Thanks

[2019-09-05 01:58] #16 closed

[2019-09-17 11:40] atymic opened #18 "Multiple radio groups on the same page have duplicate ids"
When you have multiple options groups on the same page, they end up with duplicate ids. This means clicking the first item on the last group on the page with focus your cursor/select the first item of the first group on the page.

I'll PR a fix when I have time.

[2019-09-17 14:41] alfonsobries commented on #18
Thanks I also take a look later today

[2019-09-17 21:40] atymic commented on #18
I've managed to solve the issue for the time being by setting the `name` prop, which becomes part of the `id` attribute.

Maybe automatically generating a random name when one isn't provided?

[2019-09-20 15:24] JoshDev1205 opened #20 "Documentation: Dont mention to install Tailwind Dependency"
Good Morning

I saw in the Docs that you dont mention to install Talwindcss like project dependency.

![image](https://user-images.githubusercontent.com/20880980/65338867-b631c780-db90-11e9-9d0e-f86726545dbc.png)

I think its important to mention it because someone can assume that the package have tailwindcss inside.

Good Job :+1:

[2019-09-22 15:14] ais-one opened #21 "Treeshaking"
Hi, are we able to pick and choose the components to use? Reduce bundle size?

[2019-09-24 15:02] alfonsobries commented on #21
Probably it is but need to make a quick test to be sure, Ill make the test tonight and if not possible adjust the repository to do that, and of course the docs, definitely an important feature.

[2019-09-24 15:03] alfonsobries commented on #20
Thanks for noticing, ill update the docs

[2019-09-25 03:20] ais-one commented on #21
great thanks... it will drive adoption, great work!

[2019-09-30 02:42] alfonsobries commented on #21
@ais-one Just updated the ccomponents to be self installable in #22

Also updated the docs with further explanation https://github.com/alfonsobries/vue-tailwind#install-only-the-components-you-need

[2019-09-30 02:45] alfonsobries commented on #20
Fixed, thanks

[2019-09-30 02:45] #20 closed

[2019-10-01 01:40] #21 closed

[2019-10-02 04:39] atymic opened #24 "IE11 Bug - duplicate property definitions"
This causes my app to break on IE11. I managed to trace it back to the checkbox element, where it defines `v-model` and `value`, which breaks ie completely :(

https://forum.vuejs.org/t/ie-issue-propertie-not-allowed-in-strict-mode-and-blank-page-result/21443

I'll see if I can figure out a fix.

[2019-10-02 14:52] alfonsobries commented on #24
Ok thanks, I do my best to fix this today, I been speciallly busy these days, also stilll have pending the other bug you send me.

Thanks!

[2019-10-02 22:03] atymic commented on #24
No worries, thanks for the update :)

[2019-10-11 11:01] obsessen opened #26 "Usage in Laravel throws Module not found: Can't resolve 'vue-tailwind'"
Hello, I'm trying to use your package in a Laravel application, but when I try to build the javascript it throws: `Module not found: Error: Can't resolve 'vue-tailwind'`

If I change the import from:
`import VueTailwind from 'vue-tailwind`
to:
`import VueTailwind from 'vue-tailwind`
it starts working.

[2019-10-11 12:52] alfonsobries commented on #26
Yeah already defected that error temporally please use the version 0.3 I let you know once the patch is ready

[2019-10-11 20:32] alfonsobries commented on #26
@obsessen fixed please upgrade the package to latest version `0.4.1`

[2019-10-11 20:32] #26 closed

[2019-10-11 22:58] tiagosimoesdev opened #27 "Laravel Mix\"
Hi ,

I can't seem to make a custom theme with laravel mix . Vue-tailwind works if I add props directly but my custom theme won't make any change .

My `webpack.mix.js`
[code]

`app.js`

[code]

`tailwindTheme.js`

[code]

[2019-10-16 15:12] alfonsobries commented on #27
I can confirm the problem fixed @ 0.4.2 @tiagosimoesdev  please update the dependency
`"vue-tailwind": "^0.4.2",`

[2019-10-21 08:48] obsessen commented on #26
@alfonsobries it works, thank you!

[2019-11-17 15:51] robertellam opened #28 "Dropdown arrow icon colour"
Is it possible to change the colour of the arrow icon? I can't seem to find a way to do this? For example if I set the button to grey the arrow becomes hardly visible.

[2019-11-19 06:08] maverick504 opened #29 "before-close doesn't pass event on modals."
Hi!

I'm trying to prevent one of my app's modals from closing, but i'm not receiving the `event` parameter on my event handler. I have no idea of what to do, it just doesn't work :(

I'm using the component incorrectly?

[code]

Thanks in advance!

[2019-11-21 03:00] gnujach opened #30 "How i can add selected attribute to t-select component?"
Hi, someone can help me, i need add _selected_ attribute to <t-select> but i know not, this is my code:
Thanks advance!!
`<t-select
              id="genero"
              v-model="genero"
              name="genero"
              :options="[
                    { key: 'H', description: 'Hombre' },
                    { key: 'M', description: 'Mujer' },
                ]"
              value-attri

[2019-11-21 15:02] maverick504 commented on #30
Hi!

You should set the desired value to be selected in the attribute you are using for `v-model`, that in your case is `genero`.

So in your data method, you should have:

[code]

You can also use the `mounted` method to set the selected value if you are fetching data from de DB.

[2019-11-21 15:40] maverick504 opened #31 "Feature request: Render anchor when a button has `to` or `href` attributes."
Hi!

I would be cool if buttons get rendered as anchors when you have a `to` or `href` attribute. I've noticed that when you click a button with a `to` prop, it activates when the left mouse button button is down (i think it should activate when mouse button is up), and also it activates then you click the right mouse button, which i think is a bug. An example of library that generates both `butto

[2019-11-21 20:21] alfonsobries commented on #31
hey sure, go on with the PR!

[2019-11-21 20:23] alfonsobries commented on #30
Yeah as @maverick504 mention just use the `v-model` or `:value`

[code]

[code]

[2019-11-21 20:26] alfonsobries commented on #29
MM not sure if that its possible at that way but definitely something that it should, do I ll add that to my to-do list

IN the meantime maybe you can add an observer to the show value (not tested)

[code]

[2019-11-21 20:30] alfonsobries commented on #28
Currently not but I got the problem and will add that setting soon

In the meantime not the desired & perfect solution but maybe you can add a custom class like.

[code]

[2019-11-21 21:35] gnujach commented on #30
Thank very  much, this works for me.

[2019-11-21 21:35] #30 closed

[2019-11-22 00:39] maverick504 commented on #29
Using a watcher doesn't worked, but i've made to get it work adding a logic to the before-close event handler that reopens the modal in a way the user doesn't notice.

It still isn't the best solution because the modal's DOM element gets removed and then created again in the next window frame. In my case that isn't a big issue, but i have a spinning animation on the submit button, and it gets rese

[2019-11-26 21:01] maverick504 opened #32 "DropDown: hide event doesn't work."
Hi!

The `hide` event isn't working on DropDown. I've resolved it using the `blur` event because i'm using the `click` trigger, but the `hide` event doesn't work anyway.

Example:

[code]

[2019-12-09 16:21] alfonsobries commented on #32
Fixed in #33 thsnk @guastallaigor

[2019-12-09 16:21] #32 closed

[2019-12-24 13:20] guastallaigor opened #34 "Possible bug report - Nuxt.js"
Hello,
I'm using this library in a normal Vue.js project and everything is great there.
However, I started to use this in a Nuxt.js project and during the development I'm getting several warnings like this:

[code]

I did some research on it and this is caused usually when the Virtual DOM and the DOM rendered in the server side is different, during development. There's a comparisson between the tw

[2019-12-30 13:40] CoffeeKing68 opened #35 "Modal not included in default.js"
Hi
Thanks for the great project, it is a pleasure to work with.

default.js does not export TModal, I know I can copy the defaults from TModal.js, however I would like to 'inherit' the classes.

Thanks
CoffeeKing68

[2020-02-01 19:30] zefexdeveloper commented on #13
@natecorkish can you share the code? I really want that drawer. Thank you

[2020-02-20 17:18] alfonsobries commented on #35
Fixed in 0.4.3

[2020-02-20 17:18] #35 closed

[2020-02-20 17:20] #15 closed

[2020-02-20 22:02] adamwhitlock1 opened #37 "Not working after 0.4.2"
The package.json appears to be using an entry point of:

`"main": "./dist/vue-tailwind.common.js",`

That file seems to not be getting built when v0.4.4 is being installed. It works if I install 0.4.2 though.

[2020-02-24 01:55] francoisauclair911 commented on #37
Same

[2020-02-24 02:58] alfonsobries commented on #37
Make a mistake when publishing is fixed now in `0.4.5`

[2020-02-24 02:59] #37 closed

[2020-02-28 15:20] figurluk opened #39 "Should have support for percentage"
https://github.com/alfonsobries/vue-tailwind/blob/be8816c715b8272b0e323294df58e90ff3bbec8f/src/components/TModal.vue#L190

[2020-03-02 19:28] alfonsobries commented on #39
agree will work in that ASAP

[2020-03-03 20:45] gnujach opened #41 "help with modal"
Hello thank for excellent project, i hope your help i dont know how i can have two column into the an Checkbox Group with a lot options, for example twenty, or well i how can have a modal with internal scroll in default template.
Currently my modal is very height
I try with:
`<t-modal
      wrapper-class="bg-blue-100 border-blue-400 text-blue-700 rounded shadow-xl flex flex-col"
      overlay-clas

[2020-03-31 22:15] selfagency opened #43 "`t-select` arrow misplaced when adding wrapper class"
When adding a `wrapper-class` attribute to the `t-select` component, the placement of the `select` element's down arrow (SVG) shifts outside the bounds of the `select`.

My Vue code:
[code]

The HTML output:
[code]

What it actually looks like:
<img width="439" alt="Screenshot 2020-03-31 18 06 23" src="https://user-images.githubusercontent.com/2541728/78079913-193fba80-737b-11ea-9db4-279441a85545.

[2020-04-09 16:32] raisonon opened #44 "Null props error on t-dropdown"
When I use the t-dropdown component (using examples) I get:

`[Vue warn]: Invalid prop: type check failed for prop "href". Expected String with value "null", got Null `

Then if I click on the button I get:
[code]

[2020-06-06 15:30] webcoderkz opened #45 "Benefit of this package?"
It looks to me, like you're reinventing another Bootstrap/Bulma, etc. I think many people would choose tailwind just for simplicity of class utilities. Could you share your thoughts, when you created this project?

[2020-06-13 20:01] Kawacrepe commented on #45
I mean the creator wanna develop something which can be adapted but I'm not sure of the way he took.
Imo starting to develop a vue renderless library would have been better.

[2020-06-19 02:00] alfonsobries commented on #45
Correct the idea is that the user can define how the components will look like from the beginning instead to have a default theme that everyone that uses your library has to use like Bootstrap or Bulma.

I'm working in the next version of this package and that it's even more flexible it has a default render method because I want something that just works, still, this new version makes it easy to o

[2020-06-19 21:13] #45 closed

[2020-07-05 16:22] runyasak commented on #39
I have submitted PR #46 to resolve this issue, please review on my code. 😁

[2020-07-26 13:27] ewerkema commented on #29
Encountered the same problem as @maverick504, need to perform some checking before actually closing the modal. This functionality is already described in the docs: https://vue-tailwind.com/components/modal.html#events but it doesn't seem to be working in `^0.4.6`

[2020-08-01 19:15] #43 closed

[2020-08-01 19:15] #41 closed

[2020-08-05 14:14] hacknug commented on #31
May need a way to specify a custom link component for people using other frameworks like Nuxt or Gridsome.

[2020-08-05 14:25] hacknug opened #50 "Thoughts on integrating with `vue-formulate`"
I've been looking into simplifying all of my Vue+forms mess by using `vue-formulate` to handle everything from data-binding to validation. The only issue I have with the library is that building custom controls from scratch every time make me feel like I'm wasting my life.

Have you considered turning your components in a UI-only version of them that integrates with the mentioned package or someth

[2020-08-05 14:56] alfonsobries commented on #50
@hacknug I don't want to make this library more big/complex and stick with the idea of have customizable components with fewer dependencies as possible, take care of the validation or integrate with another library means adding dependencies and not all users need validation, just as an example I personally not a big fan of the client-side validations I prefer to validate the forms in the backend.

[2020-08-05 14:58] alfonsobries commented on #39
Already fixed in v0 and v1 thanks!

[2020-08-05 14:58] #39 closed

[2020-08-05 14:58] #24 closed

[2020-08-05 14:58] #18 closed

[2020-08-05 15:03] alfonsobries commented on #31
@hacknug the link is already compatible with nuxt, gridsome compatibility is a must

[2020-08-05 15:05] alfonsobries opened #51 "Add gridsome `g-link compatibilty to the buttons"
As the title says

[2020-08-05 15:21] #50 closed

[2020-08-20 03:58] mossen opened #54 "Rich select does not show selected item on route change"
Using TRichSelect on two different pages which vue router load/render them. On first load it works as expected but when navigating to the other page or get back to the current page selected item text is not showing however when I open the select the option is highlighted.
Please check screen shots showing selectedOption is not set when it has localValue

![Screen Shot 2020-08-20 at 12 11 24 pm](ht

[2020-08-20 04:56] mossen commented on #54
created https://github.com/alfonsobries/vue-tailwind/pull/55

[2020-08-20 09:01] raisonon commented on #44
Same issue when a modal is opened... Any progress on this?

[2020-08-20 14:20] alfonsobries commented on #54
@mossen From where the value/options of the select come from?  for example, is loaded through ajax? also, are you rendering the select on an SSR page? etc

I made a quick example where I hardcode a select with his options in two different routes and was unable to replicate the problem, I see that you create a PR but I want to understand the problem so I can create a regression test.

whatever help

[2020-08-21 04:32] mossen commented on #54
When I dag into it, I found that on create the filteredflattenedOptions is set, but on re-render it is not and will be empty.
I had two different type of them, one getting options by calling an api and another one by a serving options props, both acting the same.
So I have these rich selects on a sidebar for two different pages, on first load they work fine but when I navigate through pages they d

[2020-08-22 17:20] ChristianKienle opened #59 "Using the current state within a custom variant"
Thank you very much for this project. I am currently trying to understand how to customise a component - for example `TButton`.

Currently, setting `disabled` to `true` does not change the appearance of `TButton`. Is this a bug? If it is not a bug how would I configure a custom button variant and - for example - make it grey in case it is disabled?

[2020-08-23 02:22] #59 closed, assigned to nobody

[2020-08-24 08:42] raisonon commented on #44
Thanks @alfonsobries - works great now 💪

Great work

[2020-08-25 15:04] raisonon opened #61 "Best practice to open a modal from within a modal?"
Is this the best method to open another modal from within a modal? First close and then open?

There is a bit of flash as this happens and I wonder if there is a better way to approach this?

Thanks

[code]

[2020-08-25 15:19] alfonsobries commented on #61
@raisonon yeah I understand the issue, the problem is that the HTML of the modal is inside the parent modal so that may cause issues, that's something I want to fix in the next version of the package, vue3 has a new feature called teleport that is perfect to solve that problem.

Anyway...

If you don't need to have both modals opened I think that's the best way, however, I would put that inside a

[2020-08-25 15:22] alfonsobries commented on #61
@raisonon not sure if your case but in general is better to not put a modal inside another modal but add the modal outside and open/hide using the name

<t-modal name="modal-1">
</t-modal>

<t-modal name="modal-2">
</t-modal>

[2020-08-25 15:55] raisonon commented on #61
Thanks for the help on this. Nice idea about nextTick -- will look into doing that.

I had modals next to each other but not inside one another.

My only feedback would be it might be good to push this logic into the core package, but it's probably quite low prioirty and tbh It's a bit lazy of me not to create my own methods!

Thanks for quick reply and great work as usual.

[2020-08-25 16:08] alfonsobries commented on #61
@raisonon thanks!

[2020-08-25 16:08] #61 closed

[2020-08-29 11:35] aaronschweig opened #63 "Documentation: Minor Typo in Checkbox Documentation"
Hey, I was just exploring all the cool components and i found a minor Type in the [Checkbox Docs (Basic Example)](https://www.vue-tailwind.com/docs/checkbox#basic-example). In the basic example is a type in `t-checkbox` (you wrote `t-checkbpx`).

Thank you for your awesome work!

[2020-08-29 11:42] aaronschweig commented on #63
Opened a PR in the right repo https://github.com/alfonsobries/vue-tailwind-themes/pull/5

[2020-08-29 11:42] #63 closed

[2020-09-01 15:09] karaeren opened #64 "Radio Group Component has issues with array of objects"
My radio group element is declared like this:

[code]

The modelVal is set to 1 in the data part. The expected behavior is to change the modelVal in the data to the value of the option. However, it doesn't change it and also, it doesn't uncheck the previously checked radio. So you end up with both radios checked and false modelVal...

This is how it renders
[code]

[2020-09-01 15:14] karaeren commented on #64
Simply adding a name to the t-radio-group seems to fix the multiple checked radio issue. However, it still does not change the data...

[2020-09-02 02:16] #64 closed

[2020-09-02 02:17] alfonsobries commented on #64
@karaeren Thanks for the report already fixed the issue, just upgrade to ^1.2.1

[2020-09-03 16:26] alfonsobries opened #67 "Better aria navigation for dropdown component"
After this burn from Adam Wathan https://twitter.com/adamwathan/status/1301540483144048640?s=20 make my notice that the aria navigation for the dropdown could be better, so lets fix it

[2020-09-17 17:26] moodyVlad opened #74 "Cannot find module '@/types/CssClass'"
ERROR in D:/Code/Exenzo/jobboost.io-app/node_modules/vue-tailwind/dist/components/TDatepicker.d.ts(1,43)
Cannot find module '@/utils/dates'
ERROR in D:/Code/Exenzo/jobboost.io-app/node_modules/vue-tailwind/dist/components/TPagination.d.ts(2,22):
Cannot find module '@/types/CssClass'.

And many others, it seems that the internal aliases are not working.

[2020-09-17 18:41] alfonsobries commented on #74
thanks for the report ill take a look later today

[2020-09-17 19:00] alfonsobries commented on #74
just one question @moodyVlad this happens to you after you install the library I suppose?

[2020-09-17 20:54] moodyVlad commented on #74
Hey, had version 0.45. After installing 1.2.6 this happens. Maybe some conflict eith my tsconfig?

[2020-09-18 01:28] alfonsobries commented on #74
@moodyVlad Are you installing the component directly, can you share with me your settings?

[2020-09-18 04:36] moodyVlad commented on #74
Just ran npm i --save vue-tailwind@^1.2.6.

[2020-09-18 14:06] alfonsobries commented on #74
@moodyVlad Sorry maybe I wasnt clear I mean how you're importing/configuring the library or the component, consider that the version `1.x` and the version  `0.x` are completely different so the syntax for importing and configure it are different

[2020-09-18 14:08] moodyVlad commented on #74
in my main.ts

import VueTailwind from "vue-tailwind";

Vue.use(VueTailwind, {});

[2020-09-18 14:17] alfonsobries commented on #74
Ok I was unable to replicate the problem but I think the next release should solve the problem

Can I ask you for a favor?

Install the version in this PR: https://github.com/alfonsobries/vue-tailwind/pull/75

Just run

` npm i --save vue-tailwind@next`

And let my know if solve your issue

[2020-09-18 17:56] moodyVlad commented on #74
Worked

[2020-09-18 17:56] #74 closed

[2020-09-18 18:44] alfonsobries commented on #74
@moodyVlad Ok just tagged this patch, I recommend you to update to the stable version instead of `@next` that includes this patch to avoid issues in the future

the version is `1.2.7`

[2020-09-20 19:21] Benjamest opened #76 "DatePicker does not overflow div"
Hello,

I've attached an image - I thought it would be easier than try to explain as a newbie! It seems like the datepicker does not overflow outside of a typically styled div: https://imgur.com/a/zB3IHKg

[2020-09-20 20:11] damian-bal commented on #76
You could probably fix it by changing z-index of main calendar element.

[2020-09-21 13:29] esezen opened #77 "Modal not scrolling"
I have a modal with this configuration.
[code]

When the modal pops up, it is scrollable on desktop or in the chrome emulator. However, the modal is not scrollable on an actual mobile phone. The page is shorter than the mobile phone screen but the modal gets longer than that. I checked the body that and the overflow-hidden gets added to there. So it is not like the body is preventing the modal fro

[2020-09-21 14:32] alfonsobries commented on #76
@Benjamest according to the screenshot the problem should be in the card not in the date picker, try adding `overflow-visible` class to the card.

[2020-09-21 22:16] alfonsobries commented on #77
@esezen I test your exact same settings in a fresh page, create a long modal, and cannot replicate the problem it may be related to where the modal is added, like let say a div with an overflow or weird stuff like that, is hard to know,

If you can give a link to test the modal or some way to replicate the issue I may be able to help

[2020-09-21 22:53] esezen commented on #77
Thanks for the quick reply and for your attention. Can I send you a message on twitter with the link? It is a semi-private app in development.

[2020-09-22 02:30] alfonsobries commented on #77
@esezen Fixed the error in this PR https://github.com/alfonsobries/vue-tailwind/pull/78

Just update the library to the v1.x and ensure to add `scrolling-touch` class to the "fixedClasses.overlay" of your template

thanks for the report

[2020-09-22 02:30] #77 closed

[2020-09-22 02:31] alfonsobries commented on #76
I will close this issue since no new comments added

[2020-09-22 02:31] #76 closed

[2020-09-23 09:01] faizalami opened #79 "There are some mistyped words in documentation"
Hello, i found some mistyped words and some examples that might be wrong in the documentation.

First I found some mistyped words in [card documentation](https://www.vue-tailwind.com/docs/card), I think this is because you are copy and paste from modal documentation :laughing:, so the word 'modal' in there should be 'card'.

Then I also found a strange example in [using modal global methods docume

[2020-09-23 09:11] gaetansenn opened #80 "Tabs/Collapse component"
Hello,

I'm using vue-tailwind for a new e-commerce projet and I would like to help you implement the tabs and also collapse component. Do you have a trello to see upcoming and current progress work ?
I'm available here : gaetan.senn@gmail.com

PS: Nice work for this projet

[2020-09-23 21:32] alfonsobries commented on #79
hey @faizalami thanks for the advice I will fix those and take a second look to the docs

[2020-09-23 22:54] alfonsobries commented on #80
Hi, @gaetansenn just sent you an invite, for the moment ignore the cards in Spanish this is an old board that I not used in a long time, ill update this with the current status/tasks of this project.

I don't have any special way to handle this project since I am the only active contributor but if some fulks like you joins we can discuss ways to communicate and manage this project.

[2020-09-23 23:12] alfonsobries commented on #80
@gaetansenn Update: I removed old info and created the first scratch of a new board

[2020-09-24 17:12] #80 closed

[2020-09-24 17:40] #79 closed

[2020-09-30 06:14] lexxyungcarter opened #82 "Usage with prefix classes?"
My tailwind setup involves prefixing all tailwind classes with 'tw-'. How exactly can I command this package to adopt the pattern?

[2020-09-30 14:36] alfonsobries commented on #82
@lexxyungcarter That doesn't need to be a problem. All the classes are configurable. You can even use this library with another CSS framework.

Let me explain: Most of the components (especially the complex ones) already have a couple of default tailwind classes, the idea is to make it easy for devs to replace a few classes, but still, you can override all of them.

Consider the toggle, for exampl

[2020-09-30 15:54] lexxyungcarter commented on #82
Thank you for your quick reply. I've tried playing around with tweaks here and there, but to no avail. I'll try out this approach.

Cheers.

[2020-10-04 22:25] dsfx3d opened #83 "Settings not working with storybook"
I'm working with a design system and writing a components library which is running on storybook.

I've installed the plugin like this,

[code]

When I run the app on the development server, the components get styled as expected.
But when I use those components inside a story, the styles I've configured in _settings.js_ are missing.

I checked the browser's dev tools and found that none of the conf

[2020-10-06 01:12] alfonsobries commented on #83
I have no experience with storybook (I have plans to use for the next version of the docs), anyway, you can install the plugin normally? with the `Vue.use(` syntax?

Ask because it's possible to install a single component but you should use the same syntax you use to install the library since the installation process is when the props are overridden, to do that you need to import the component lik

[2020-10-06 01:30] #82 closed

[2020-10-06 10:46] dsfx3d commented on #83
@alfonsobries the plugin works fine, it was a mistake on my end.
Instead of using the globally registered component in the story, I was importing the component and then using it.

The story should look like this if someone else faces this issue in future:

[code]

[2020-10-06 10:46] #83 closed

[2020-10-09 09:30] Lacroute opened #84 "How to merge multiple variants?"
Hi,

Hi have button with variants: `primary` and `secondary`. I also have a variant `disabled` with deals with opacity. I want to have a `primary disabled` button, but according to the doc, only one variant at a time can affect my button.

It can also happen if I have some variants for size like `small`, `medium`, `big`, so question is how to have a `small primary` variant?

How to deal with that?

[2020-10-09 20:28] alfonsobries commented on #84
There is no way to merge them as you probably thinking, you need to create more variants like `smallPrimary`, `mediumSecondary`, etc, the version 0 of this library used to have that feature but after used it a lot I noticed that this make the library less flexible so also no plans to add that feature.

For the disabled inputs you have 3 options:
- If you are using tailwind as your CSS library you

[2020-10-12 09:17] Lacroute commented on #84
I'll go with the disabled variant for this case.
Just to be sure to understand, there is no way to use the responsive variants from tailwind inside vue-tailwind?

[2020-10-12 09:23] Lacroute opened #85 "Is there possible side effects on multiple tailwind.config.js?"
Hi,

Because I'm using tailwind also, is it possible that my config file overrides yours? How does tailwind merge everything?

[2020-10-12 10:20] Lacroute opened #86 "Use after helper to configure variants"
Hi,

I think taking advantage of [after/before](qr5zxs7xas3hluw9kjxx78cng46rqxnj) helpers could be a good idea instead of hard coding variants like here > https://github.com/alfonsobries/vue-tailwind/blob/4c335b09235b6a197a9a562d62c073342fedaec8/tailwind.config.js#L7

[2020-10-14 07:56] #84 closed

[2020-10-14 12:43] dcyou opened #88 "vuejs v3 support"
Hi,
Vue3 plan to be support?

thanks

[2020-10-14 12:47] dcyou commented on #88
found https://www.vue-tailwind.com/docs/upcoming-changes but any more precise information

[2020-10-14 23:31] alfonsobries commented on #88
hey @dcyou yes is part of the plan but I don't have a specific date I expect to release it in about 3 months

[2020-10-14 23:32] alfonsobries commented on #86
@Lacroute the tailwind.config.js file inside the library is just for developing purpose (to manual test the library while I work in it) it shouldn't be used directly since is different for every one.

[2020-10-14 23:33] alfonsobries commented on #85
@Lacroute As I answer you in the other ticket that file is only used in development is not part of the library you import, in other words, your tailwind.config.js file is the only one used in your project

[2020-10-15 07:18] #88 closed

[2020-10-15 07:19] dcyou commented on #88
thanks ;)

[2020-10-15 19:30] #85 closed

[2020-10-15 19:30] #86 closed

[2020-10-16 12:04] Lacroute opened #89 "Using custom setter for computed properties fires an extra trigger"
Hi,

I'm binding a `v-model` to my `vuex` store using v-model and custom getter and setter. I noticed that if I use a custom setter with a t-element it fires two times. First when there is an update, then after the update.

reproduction link (without vuex)> https://codesandbox.io/s/sleepy-ritchie-r59ej?file=/src/CustomComputed.vue

There is no consequences with my data, but I want to avoid useless

[2020-10-17 09:49] emertechie opened #90 "Table data cannot be loaded asynchronously"
Pretty much as title says. If `t-table` is bound to a `tableData` array, and that array is populated after the initial rendering of the table, no rows are rendered.

[2020-10-17 16:30] alfonsobries commented on #89
@Lacroute I see, yeah that its a problem I'll take a look next week

[2020-10-19 09:55] Lacroute opened #91 "t-radio-group type validation error"
Hi,

Not a big deal but I got this warning during the use of `t-radio-group`. I didn't check on other components.

`Invalid prop: type check failed for prop "value". Expected String, Number, got Boolean with value false.`

reproduction link > [https://codesandbox.io/s/epic-currying-yhjxk?file=/src/App.vue](https://codesandbox.io/s/epic-currying-yhjxk?file=/src/App.vue)

[2020-10-20 23:12] alfonsobries commented on #90
Its possible to have a reproduction link or a chunk of your code cannot replicate any error

[2020-10-21 16:36] lights0123 opened #92 "Nuxt Component support"
[Nuxt Components](https://github.com/nuxt/components) automatically allow all components in an app to use other components without importing them—the source files are scanned, and used components are automatically imported. This allows for tree shaking without manually importing each component. A simple starting point for this library is creating the file `nuxt.js` in the root directory:

[code]

[2020-10-22 01:33] alfonsobries commented on #91
@Lacroute fixed in the v1.3.x

[2020-10-22 01:33] #91 closed

[2020-10-22 01:44] alfonsobries commented on #92
@lights0123 the components need to be installed within the plugin because some of the props (like the variant and classes related) are override in the installation process.

That means made something like that will not work

For version 3 of the library I planning to make the component self-installable so this can be considered again but currently is not possible.

[2020-10-22 01:44] #92 closed

[2020-10-22 01:45] alfonsobries commented on #90
I'll close this issue for now since cannot reproduce the problem, if you have more info feel free to open the issue again @emertechie

[2020-10-22 01:45] #90 closed

[2020-10-22 19:22] sergiooak commented on #10
Sorry to reopen it, but I'm facing a wierd problem...

New components works just fine with this tutorial (Datepicker, Toggle, etc) but older ones works only partial, all html and JS works, but it not any classes.

1 - Plugin and Import
![image](https://user-images.githubusercontent.com/46563926/96919302-f80efa80-1481-11eb-9254-e81f40b0363e.png)
![image](https://user-images.githubusercontent.com/46

[2020-10-22 19:34] sergiooak opened #93 "Vanilla components losing class on Nuxt"
New components (Date picker, Toggle, etc) works just fine  but older ones works only partial, all HTML and JS works, but it does not have any classes.

1 - Plugin and Import
![image](https://user-images.githubusercontent.com/46563926/96919302-f80efa80-1481-11eb-9254-e81f40b0363e.png)
![image](https://user-images.githubusercontent.com/46563926/96919389-12e16f00-1482-11eb-837b-d4dfd6e99c21.png)

2 -

[2020-10-23 14:57] alfonsobries commented on #93
@sergiooak that is not exactly an error but maybe is not well explained in the Docs

Most of the components don't have any class by default, and it because the vision of this package is to not decide a theme for you since you are intended to create your own theme depending on your app.

The ones that have classes are because have the minimum amount of classes to work, the toggle is a good example,

[2020-10-23 16:06] sergiooak commented on #93
Got it! It works fine after I "created" a theme (just skipped every step xD), but I really enjoy the Default Theme idea, I believe many people will use it "as is"

[2020-10-23 16:06] #93 closed

[2020-11-03 16:56] pantajoe opened #94 "[Vue warn]: $attrs is readonly., [Vue warn]: $listeners is readonly."
Hey! First of all, I really enjoy VueTailwind.

However, I encountered an issue when using this library.

I get the warnings `[Vue warn]: $attrs is readonly` and `[Vue warn]: $listeners is readonly.` when using the component `TDatepicker`. I do not know if this is the case with any other VueTailwind component, but I most certainly think so.

When looking at the stack trace, there are 2 different V

[2020-11-05 20:13] Sch-Tomi opened #95 "Dialog missing styles"
Hi!

First of all thanks for this plugin, it's such a pleasure to use.

I think I just find some bug, with the [programmatically way](https://www.vue-tailwind.com/docs/dialog#open-the-dialog-programmatically) of open the dialog.

First of all, I pasted the default classes from the theme builder. So I have a danger variant.
When I create a dialog as a [component](https://www.vue-tailwind.com/docs/d

[2020-11-05 20:20] Sch-Tomi commented on #95
Oh and its only break when I use the `variant: "danger"` prop. If I didn't use the `variant` prop its work fine with the default styles

[2020-11-06 18:54] aislanmaia commented on #88
Excited about Vue 3 support!!
How can we help to speed up ?

[2020-11-07 14:31] alfonsobries commented on #95
Ok thanks for the report I’ll take a look once I’m in my computer

[2020-11-09 13:30] gerasimovs opened #96 "Incorrect date display with the parameter weekStart = 1"
When the "weekStart" parameter is set to 1 in November 2020, the calendar is displayed incorrectly. It is stated that November 1 is Monday. All other months are working correctly:

[code]
![DatePicker](https://user-images.githubusercontent.com/20923969/98547237-72d17580-22ca-11eb-83f5-d9a9ae23661b.png)

[2020-11-12 01:09] alfonsobries commented on #96
Hey just to ley you know that I already saw your issue, was especially busy the last week but ill take care of this tomorrow

[2020-11-13 22:42] alfonsobries commented on #94
Ok after research for this your solution seems to be the correct one so Ill close this issue for now, feel free to open again if you encounter more problems related to this.

[2020-11-13 22:42] #94 closed

[2020-11-13 23:55] #96 closed

[2020-11-13 23:55] #95 closed

[2020-11-13 23:55] #89 closed

[2020-11-14 00:13] alfonsobries commented on #96
@gerasimovs problem solved please update to the latest version of the package `^1.3.1`

[2020-11-14 00:13] #67 closed

[2020-11-14 00:14] alfonsobries commented on #95
@Sch-Tomi problem solved please update to the latest version of the package `^1.3.1`

[2020-11-14 13:56] Sch-Tomi commented on #95
Thanks I'll check it

[2020-11-16 14:02] Lacroute opened #100 "T-radio-group notreactive to v-model (or input event)"
Hi,

Seems like `localValue` is not correctly binded to `t-radio`
link: [https://codesandbox.io/s/vibrant-cartwright-hcjxc?file=/src/App.vue](https://codesandbox.io/s/vibrant-cartwright-hcjxc?file=/src/App.vue)

[2020-11-16 20:08] alfonsobries commented on #100
@Lacroute you need to use `v-model` to make it reactive

[2020-11-16 21:03] #100 closed

[2020-11-16 21:44] alfonsobries commented on #100
@Lacroute fixed @ 1.3.2

[2020-11-17 15:39] NikODipS opened #103 "Disable options in TSelect"
Hey buddy,
I'm using your amazing creation and, let me tell you, You did some really cool stuff.

Anyway, I bumped into some issue, I'm using the TSelect component (actually the the TRich one but with no axios) and there is no way I can disable some option.

There's no way to do it, or I'm just too blind too see it?

That'll be really nice to have, cause sometime you wanna show options that user c

[2020-11-17 22:57] #103 closed

[2020-11-17 23:00] alfonsobries commented on #103
@NikODipS That was an important feature and was added in `v1.3.3`, you just to add a `disabled: true` attribute to your list of options (only works for array format https://www.vue-tailwind.com/docs/select#array-of-objects).

Also, this version adds a new `disabledOption` class for the rich select component that now also accepts disabled options,

The docs should be updated at any moment mentionin

[2020-11-18 22:26] ElPapi42 opened #105 "What happened to tree shaking?"
Hello there!

First, thanks for this awesome library!

I'm using VueTailwind with Nuxt, and I have a problem, I don't find anything on the docs about tree shaking, actually, the plugin is bloating my build with 310kb.

I found a PR from the past year that includes this feature in the project, but now I see nothing, can you give me some light on this?

Thanks in advance for your support, I feel I'm

[2020-11-19 10:33] NikODipS commented on #103
Oh thank you so much,

I just realized I'm using the 1.3.0.

Thanks

[2020-11-19 23:14] alfonsobries commented on #105
@ElPapi42 Ok this is an issue that I am aware of, currently, it is indeed possible to import only the components you need, to do it use this syntax:

[code]

Changing component name for the name of the component:

[code]

That will make your build smaller if you only need a few components but if you import a couple more it will actually increase the size since the components may have duplicated co

[2020-11-20 12:30] rashidpathiyil opened #106 "Feature request"
### 1. Navigation Drawer
It's really essential to have a navigation drawer which supports swipe left or right on the window of mobile devices to toggle it.

### 2. App-bar
It's also really helpful if we have an app bar with different behavior on scrolling like fixed, a shadow on a scroll, and hide on the scroll. add a prop to inject classes(shadow, border) that should add when scrolling happens.

[2020-11-20 17:22] ElPapi42 commented on #105
Awesome explanation, I will try 2.0! Thanks for your support!

[2020-11-20 17:22] #105 closed

[2020-11-20 22:19] igerslike opened #107 "enableBodyScroll unsuccessful on v2"
Hey, thanks a lot for the amazing plugin, iv been using since v1 and today i have attempted to updated to v2 beta, and it was a breeze.

Just noticed a little error on the console that seems to root on TModal Component, and wanted to report, not sure if you have noticed:

`enableBodyScroll unsuccessful - targetElement must be provided when calling enableBodyScroll on IOS devices`

Node 12
VueTailw

[2020-11-21 23:26] D-Marc1 commented on #107
I did `:disable-body-scroll="false"`, but it didn't change anything for me.

[2020-11-21 23:43] igerslike commented on #107
@D-Marc1  on the modal component?

[2020-11-21 23:46] D-Marc1 commented on #107
Yes, I'm using the modal component. I now see I misread your post actually, as I'm using v1.3, and your question is about v2.

[2020-11-21 23:47] igerslike commented on #107
Yeah, but thanks for pointing this out, ill check if that works for me as temporary fix, otherwise will rollback back to 1.x until stable 👍

[2020-11-22 21:56] ElPapi42 opened #108 "Is possible to select the screen position of a t-modal?"
Hello there! thanks for the awesome work!

In relation to the question, i dont see anything on the t-modal docs about how to center the modal window on the screen, maybe I'm missing something, I'm very tired right now lol!

Thanks! Whitman Bohorquez

[2020-11-22 22:58] ElPapi42 commented on #108
Sorry, my bad, I already get the solution from the docs.

[2020-11-22 22:58] #108 closed

[2020-11-23 02:27] ElPapi42 commented on #107
Same problem here

[2020-11-23 03:23] alfonsobries commented on #107
@igerslike _maybe_ was fixed on`2.0.0-2` didn't make a comprehensive test,

[2020-11-23 03:24] alfonsobries commented on #107
Btw 2.0 will include a default theme that still is a WIP so some components may look different if you didn't override the theme

[2020-11-23 04:24] ElPapi42 commented on #107
that default theme will be awesome

[2020-11-23 18:14] igerslike commented on #107
A quick update here. Adding `:disableBodyScroll="false"` supresses the error, because it seems like it ignored the IF condition here :

https://github.com/alfonsobries/vue-tailwind/blob/ff241564694f868ef23a5a9665673da98f84ed20/src/components/TDialog.ts#L268

Also not sure if that matters but im using Vue-Portal to delivery the modals.

[2020-11-24 05:19] soulsam480 opened #109 "Vue 3 support."
Hey, @alfonsobries  amazing project. Do you have any plans for Vue 3 support?

[2020-11-24 13:15] alfonsobries commented on #109
Yes, after I release v2 (very soon) I will start with the vue 3 version, I have no estimated date though

[2020-11-24 23:12] #109 closed

[2020-11-25 15:45] robertfausk opened #111 "Is it possible to add an icon to a button?"
...via using a slot or something else?

E.g. like in bootstrap-vue:
https://bootstrap-vue.org/docs/icons#buttons

[2020-11-25 19:45] alfonsobries commented on #111
not sure If I get your question @robertfausk the button component renders a simple <button> you can add your icon inside:

[code]

[2020-11-26 12:55] robertfausk commented on #111
@alfonsobries Yep. You are right. It's working like a charm!

[code]

WDYT about adding this use case to the docs?

[2020-11-26 13:27] #111 closed

[2020-12-02 20:20] A-Lawrence opened #112 "Tailwind v2 Support?"
Howdy!

Just enquiring as to whether you'll be releasing a version that uses Tailwind v2?

[2020-12-02 23:52] alfonsobries commented on #112
Yes, I am about to release v2 that uses tailwind 2 classes by default, however in theory the current version should also work with tailwind 1.0 (or any css framework) since you can define the css classes

[2020-12-03 11:07] CeruttiMaicon opened #113 "Do you want to share your theme? Forecast"
Hello, how are you,
any forecast to be ready?
I look forward to creating my hehe

![image](https://user-images.githubusercontent.com/25940408/101001731-4530c280-353e-11eb-8d7a-d5abd051b8d3.png)

[2020-12-03 19:42] mous2890 commented on #112
Will the new version contain datatables features?

[2020-12-03 20:12] mous2890 opened #114 "Feature Request: Datatables"
It would be amazing to have a Vue Tailwind Datatables component with built in search box, filters, multi column select.

A great template to start with is https://tailwindcomponents.com/component/table-responsive-with-filters

[2020-12-04 11:01] harrytran998 opened #115 "[Feature request] Loading component"
I think loading it's the popular stuff in a product. So hope you can implement this in the feature bro!

[2020-12-08 10:04] vasia123 opened #116 "Label attribute "for"."
I found mention to this parameter in code

https://github.com/alfonsobries/vue-tailwind/blob/2d67b982595fcda5b70d5f30314fca6bc2333586/src/components/TInputGroup.ts#L9

which refers to setup "for" attribute

https://github.com/alfonsobries/vue-tailwind/blob/2d67b982595fcda5b70d5f30314fca6bc2333586/src/components/TInputGroup.ts#L72

 but my code not working:
[code]
how can i set "for" attribute of l

[2020-12-08 15:37] alfonsobries commented on #116
@vasia123 weird it should be working, ill take a look later today thanks for the report

[2020-12-09 15:54] handplant opened #117 "Is there a simple way to deactivate all past days in the datepicker?"
As it is possible in this component [https://github.com/charliekassel/vuejs-datepicker#disabled-dates](https://github.com/charliekassel/vuejs-datepicker#disabled-dates)

Thx

[2020-12-09 19:40] alfonsobries commented on #117
@handplant yes, the `disableDates` prop accepts a function https://www.vue-tailwind.com/docs/datepicker#disable-dates

So you can do something like this

[code]

[2020-12-09 19:44] alfonsobries commented on #116
@vasia123 just tested your exact example and it's working fine for me, is there any way that I can replicate the issue?

[2020-12-09 21:37] alfonsobries commented on #117
@handplant just remember that you can also use the `minDate` prop that even easier

[code]

[2020-12-10 00:30] alfonsobries commented on #107
Just released v2 that should fix that problem, let me know @igerslike

[2020-12-10 00:42] alfonsobries commented on #112
@mous2890 no only the features the current table component has

[2020-12-10 00:43] alfonsobries commented on #112
@A-Lawrence just released v2.0 that with a tailwind 2.0 theme https://www.vue-tailwind.com/

[2020-12-10 00:43] #112 closed

[2020-12-10 00:43] alfonsobries commented on #107
@igerslike I'm gonna close this ticket for now but feel free to open it again if you still see the issue

[2020-12-10 00:43] #107 closed

[2020-12-10 00:47] alfonsobries commented on #106
Hi, @rashidpathiyil thanks for your proposal, ill keep it in mind but for now I don't think ill create those components, at least not for now because of other priorities.

[2020-12-10 00:47] #106 closed

[2020-12-10 00:48] alfonsobries commented on #113
@CeruttiMaicon This is something that is still on my to-do list but I could not advance it because I dedicate myself to other priorities and my time is limited, I hope I can find time to do it soon, it is definitely something that I am interested in doing.

[2020-12-10 00:48] #113 closed

[2020-12-10 00:50] alfonsobries commented on #114
@mous2890 This is something I probably will add sooner or later but not in my immediate priorities since I want to spend more time in the Vue3 version of this package, still ill keep it in mind

Still, the table component (https://www.vue-tailwind.com/docs/table) is flexible enough to add those features manually (i know this request is not about that)

Thanks!

[2020-12-10 00:50] #114 closed

[2020-12-10 00:54] alfonsobries commented on #115
@harrytran998 the thing with the loading component is that are hundreds of ways to do it, like using an animated icon or SVG or even a gif, in other cases is a progress bar or a progress circle.

Most of them are not directly related to CSS, for example, my favorite kind of loaders are SVGs, those are not related to CSS  classes so doesn't make sense as part of this library.

mm, maybe a progress

[2020-12-10 00:54] #115 closed

[2020-12-10 00:55] alfonsobries commented on #117
@handplant I am goona close the ticket, for now, feel free to open it again if you have more issues

[2020-12-10 00:55] #117 closed

[2020-12-10 00:55] alfonsobries commented on #116
@vasia123 I am gonna close this ticket for now since I cannot replicate the issue, feel 100% free to open it again if the problem persists.

[2020-12-10 00:55] #116 closed

[2020-12-14 10:26] sachin-ezee opened #119 "File Uploader Component"
Any Planing for File Uploader component in vue-tailwind?

[2020-12-14 10:31] sachin-ezee opened #120 "Calender Componet"
Any Planing for Calender component in vue-tailwind?

[2020-12-15 02:23] alfonsobries commented on #119
@sachin-ezee eventually yes but currently not in my priorities so so estimated date

[2020-12-15 02:23] #119 closed

[2020-12-15 02:25] alfonsobries commented on #120
@sachin-ezee no on the short term, maybe (but still thinking since a calendar is a whole and big project) as a premium component

[2020-12-15 02:25] #120 closed

[2020-12-15 12:21] gebrits opened #121 "Rich Select with multi-select"
Is it possible to have a Rich Selector with multi-select enabled?

It's available in the docs for a [normal select](https://www.vue-tailwind.com/docs/select) but not for [Rich Select](https://www.vue-tailwind.com/docs/rich-select)

[2020-12-16 14:59] alfonsobries commented on #121
@gebrits this will be my next priority, I'll take a couple of days off the next week and this is a tricky task so probably will not ready on the next week though but I'll do my best

[2020-12-24 16:37] Lacroute opened #123 "Inputs don't allow event propagation"
Hi,

I discovered that I can't listen to custom events on t-input.

[Reproduction link](https://codesandbox.io/s/beautiful-khorana-nbhuw?file=/src/App.vue)

**Why do I want to do this?**
I'm using the google autocomplete place API. Because I need abstraction, I created my own event to listen to when google answers me. I can use a [EventTarget](https://developer.mozilla.org/en-US/docs/Web/API/Event

[2020-12-28 14:14] NikODipS opened #124 "TCheckbox infinite loop"
<pre>&lt;template&gt;
    &lt;div @click="toggle"&gt;
        &lt;t-checkbox :checked="checked"&gt;&lt;/t-checkbox&gt;
    &lt;/div&gt;
&lt;/template&gt;

&lt;script&gt;
    export default {
        data(){
            return {
                checked: false
            }
        },
        methods: {
            toggle(){
                this.checked = !this.checked;
                console.log("

[2020-12-29 16:27] alfonsobries commented on #124
@NikODipS you can stop the event propagation on the wrapper

[code]

[2021-01-02 05:09] restyler commented on #121
Can anyone share any lightweight alternatives to rich select which support multiple and play good with Vue Tailwind? I need it, too.

[2021-01-02 13:59] StephenBeirlaen opened #125 "[Suggestion] Rich select options reactivity"
First of all, thank you for this amazing set of components!

I have been thinking about a suggestion/improvement for the TRichSelect component. For my project, I feed it with data from a computed property (which gets the data from a Vuex store). In the fetchOptions method, I then filter this data:

[code]

[code]

Sometimes, when initially loading the app, this isn't working reliably because the V

[2021-01-05 19:06] sbrow opened #126 "`t-button` doesn't convert to `inertia-link`?"
In the docs it says `t-button` should convert to an `inertia-link` when inertia is present and href is set. This isn't working for me.

[code]

When I use the dev tools, nothing appears under the t-button, and the link does not work as expected.

# Version info
- **vue:** 2.6.12
- **vue-tailwind:** 2.0.0
- **InertiaJs:** 0.5.4

[2021-01-07 13:31] xyNNN opened #127 "Support for Vue 3?"
Hi @alfonsobries

At first. Thank you very much for this awesome library.

I've read that you want to support Vue 3 in the future.

Do you have some more concrete timetable when to release a version for Vue 3?

Can I support you in some way? From coding perspective I haven't enough knowledge about Vue, but perhaps sponsoring you will help the development?

Thanks in advance!

xyNNN

[2021-01-13 17:01] alfonsobries commented on #127
hi, @xyNNN not yet but already started, still doing some experiments because I want to make a sibling library for react so I am restructuring the code so I can reuse some functions.

I am not in the position to give an estimate yet but should take maybe 2 months, and yes sponsorship of course helps to prioritize this over any side projects.

For this new version, I'll create a roadmap once I finis

[2021-01-18 17:34] fparaggio opened #128 "Unable to use vue-tailwind in nuxt generated app"
In my nuxt.js project I am using the datepicker. I import the library as a plugin in this way:

/plugins/vue-tailwind.js
[code]

/nuxt.config.js
[code]

and the component works perfectly in development.

My problem is that the component is not rendered when I serve the app generated with

[code]

I already tried to load the plugin this way:
[code]

and also tried to put the component between clien

[2021-01-18 17:35] fparaggio commented on #128
there is also a stackoverflow here https://stackoverflow.com/questions/65740711/vue-plugin-not-loaded-on-static-site-generated-by-nuxt if somebody solves this issue

[2021-01-19 03:40] alfonsobries commented on #128
Are you only using the date picker? @fparaggio

[2021-01-19 15:47] karanjamutahi commented on #128
+1

I am using the [tables](https://www.vue-tailwind.com/docs/table/) in my app but it's not getting built on nuxt generate. The build step succeeds but the table is not being rendered.

[2021-01-20 11:01] jaulz opened #129 "Animate Alert component"
First of all, thanks for this great library! 😊

Though, what I wondered about is whether there is an easy way to animate the opacity of the `Alert` component whenever it appears/disappears. Thanks for any hints!

[2021-01-20 19:38] zorca commented on #128
Are you using Next in ssr or spa mode?

[2021-01-20 21:52] alfonsobries commented on #128
ok think that maybe the documentation is not clear think I'm gonna revisit it, meanwhile since version 2 of this library you need to manually import the components since any of them are added by default, if you are only using one component the best way to do it is like its explained here https://www.vue-tailwind.com/docs/installation#33-or-you-can-install-only-the-components-you-need, so for the d

[2021-01-20 22:00] edwinencomienda opened #130 "Rich Select Multiple Select"
If this component supports it this will be awesome and perfect for most of the applications 😎

[2021-01-20 22:03] edwinencomienda commented on #130
We are using this package in our app and we are so happy! that’s only thing that we need and this package 📦 will be the best!

[2021-01-20 22:03] alfonsobries commented on #129
Not directly at the moment with one prop or class (ill add this feature in my to-do list)

Still, you can achieve an animation by using transition features from vue.
(see https://vuejs.org/v2/guide/transitions.html#Transitioning-Single-Elements-Components)

Example

[code]

[2021-01-20 22:05] alfonsobries commented on #130
@edwinencomienda yeah I have that feature in mind and it's my first priority, I being a little busy with my work and  working on the next version of the package but ill will try to release this feature as soon as I can

[2021-01-20 22:06] #124 closed

[2021-01-20 22:06] alfonsobries commented on #124
Closing this since I didn't receive more feedback

[2021-01-20 22:15] alfonsobries commented on #126
@sbrow the docs had a mistake, you also need to change the `tagName` to `'a'`.

I just update the docs and added a tip to make that easy. https://www.vue-tailwind.com/docs/button#inertiajs-compatibility

[code]

[2021-01-20 23:00] #123 closed

[2021-01-20 23:01] alfonsobries commented on #123
@Lacroute sorry for the delay and thanks for the report, this issue should be fixed on v2.0.1

[2021-01-21 08:55] zorca commented on #126
Thank you!

[2021-01-21 09:46] fparaggio commented on #128
I am not sure it solves the problem. I solved using ```Vue.component```. It
seems that ```Vue.use``` does not properly work in standalone mode

On Wed, 20 Jan 2021, 22:53 Alfonso Bribiesca, <notifications@github.com>
wrote:

[2021-01-21 14:59] alfonsobries commented on #128
@fparaggio what do you mean by you are not sure, did you test it? the problem with vue.use is that it not applies the global configuration

[2021-01-21 15:00] #126 closed

[2021-01-22 05:51] Blatty opened #132 "CheckboxGroup not working after upgrading to 2.0.1"
Hey @alfonsobries,

Thank you so much for this lib!

I just noticed the CheckboxGroup is breaking with the last update, here's the repro: https://codesandbox.io/s/quiet-leaf-fl48q?file=/pages/index.vue

[2021-01-22 12:25] jaulz commented on #129
Great, thanks! 😊

[2021-01-22 12:25] #129 closed

[2021-01-22 16:01] alfonsobries commented on #132
Hey thanks for the report ill fix it during the day @Blatty

[2021-01-22 20:49] alfonsobries commented on #132
fixed @ 2.0.2

[2021-01-22 20:49] #132 closed

[2021-01-22 23:05] alfonsobries commented on #128
Closing this since no more feedback received feel free to open again if still have the issue

[2021-01-22 23:05] #128 closed

[2021-01-23 00:01] #121 closed

[2021-01-23 00:01] #130 closed

[2021-01-23 00:13] alfonsobries commented on #130
@edwinencomienda good news I added this feature on version `2.1.0` see the docs https://www.vue-tailwind.com/docs/rich-select/#multi-select

[2021-01-23 00:14] alfonsobries commented on #121
@gebrits @restyler good news I just published v 2.1.0 with the new `multiple` prop

https://www.vue-tailwind.com/docs/rich-select/#multi-select

[2021-01-24 06:53] edwinencomienda commented on #130
wow @alfonsobries you're the man! thanks a lot!!!! thank you for the hardwork!

[2021-01-24 12:53] zhang9553 opened #135 "TSelect is working with WARNING when I bind it with `v-model`"
Hi @alfonsobries,
It was working fine in v2.0.0 but since 2.0.1 t-select does not seem to work properly with `v-model`.
[Vue warn]: Invalid prop: type check failed for prop "value". Expected Array, String, Number, got Event
Thank you!

[2021-01-24 17:01] alfonsobries commented on #135
Hey thanks for the report @zhang9553 ill take care tomorrow

[2021-01-24 17:27] zhang9553 commented on #135
Hi Alfonso Bribiesca,

Thank you for your response.
I appreciated to your great work!
Have a great weekend.

Best Regards,
Zhang He

From: Alfonso Bribiesca<mailto:notifications@github.com>
Sent: Monday, January 25, 2021 12:01 AM
To: alfonsobries/vue-tailwind<mailto:vue-tailwind@noreply.github.com>
Cc: Zhang He (IMI)<mailto:zhang.he@ingeniousmedia.ca>; Mention<mailto:mention@noreply.github.com>
Su

[2021-01-25 15:24] #135 closed

[2021-01-25 15:30] alfonsobries commented on #135
@zhang9553 should be fixed on 2.1.1

[2021-01-25 15:44] zhang9553 commented on #135
It works great!
Thank you

From: Alfonso Bribiesca<mailto:notifications@github.com>
Sent: Monday, January 25, 2021 10:30 PM
To: alfonsobries/vue-tailwind<mailto:vue-tailwind@noreply.github.com>
Cc: Zhang He (IMI)<mailto:zhang.he@ingeniousmedia.ca>; Mention<mailto:mention@noreply.github.com>
Subject: Re: [alfonsobries/vue-tailwind] TSelect is working with WARNING when I bind it with `v-model` (#135

[2021-01-26 20:36] fragx1011 commented on #127
waiting for vue 3 version of this too
I working on an exiting project with tailwind and vue 3, so will appreciate when its ready ;)

[2021-01-29 00:32] nlv-edwinencomienda opened #137 "Modal sizes"
how would a extend the size of the modal?

[2021-01-30 06:40] jd-0001 opened #138 "v3 Update question"
As you will use Sponsorware model will this framework available for usage if I have public repo if I am not a sponsor??

Also, I want to know will this package be private for v3?

If you can mention what we will get in v3, it will be really helpful so we can decide if we can use it for open-source projects.

Awaiting your response.

[2021-01-30 17:07] kek7198 opened #139 "'query' is defined but never used"
I'm exploring the rich-select example that uses the Github API to search repos. This one specifically, https://github.com/alfonsobries/vue-tailwind-docs/blob/master/components/examples/rich-select/RichSelectOptionSlot.vue.

I gave it a test run in my vue project but on build, I'm getting an error: 'query' is defined but never used.

Now, I remove query but then selection doesn't work properly. If

[2021-01-31 14:03] alfonsobries commented on #138
Will be open source like this one but (maybe) I'll release some not-common components (let's say an emoji picker) for sponsors until I reach some amount

So yes The most important components will be open source that's for sure

[2021-02-01 20:35] theo333 commented on #138
@alfonsobries Hi. I'm looking for a component library and yours looks quite good. We just started using Tailwindcss and would love to be able to use that with a component library.  I read what you had written for upcoming changes, but that did not mention when you were planning to release those changes. Do you have a timeline for v3?

[2021-02-02 04:17] xewl opened #140 "Textarea not clearing in combination with vform"
While using [vform](https://github.com/cretueusebiu/vform) I've noticed that clearing/resetting the Form does work with `<t-input ...>` etc,

But it doesn't seem to clear the value inside the `<t-textarea ...>` element in that same case.
Fields are linked with `v-model="form.fieldname"`

Even though the form data resets, the `<t-textarea ...>` element seems to keep the current content, until an up

[2021-02-02 11:55] Reached opened #141 "Datetimepicker"
Awesome library, well done!

Do you have an ETA on the datetimepicker? :)

[2021-02-03 00:07] ManUtopiK opened #142 "Classes aren't merged in markdown file with nuxt-content"
Thanks for your excellent components library!

Using with @nuxt/content plugin, vue-tailwind components in markdown files work great!
Exemple: `content/test.md`
[code]
But now, if I add some classes on `t-input`, classes are not merged but override default classes.
[code]
Output: `<input data-v-f58a9f50="" type="text" class="mt-2">`

Is there a workaround to prevent this behavior?
I don't know if

[2021-02-03 13:09] alfonsobries commented on #138
@theo333 not yet but I should have a roadmap in the following weeks, almost finish with the POC of the next version and according to that I'll be able to have a timeline

Follow me on Twitter for updates(@alfonsobries)

[2021-02-04 10:41] JosephELKHOURY opened #143 "Datepicker component not reading 'required' attribute"
Hello,

I'm using the Datepicker in my Laravel project and it's working great.
The only problem I'm facing is that even if I set the _required_ attribute to _true_, the form is ignoring the field.

Has anyone faced the same issue?

[2021-02-06 08:22] mspiessch commented on #127
Hi, @alfonsobries Thank you very much for this awesome library. I read that you want also build a sibling lib for react.

I'don't know if that help you but I heard a talk about stencil.js (https://stenciljs.com/) for building cross framework library and it may be usefull.

Best Regards

[2021-02-07 05:41] Jalx commented on #137
You can change the appearance of the modal using the classes props. For example, using the wrapper class:

`<t-modal v-model="showModal"`
    `:fixedClasses="{`
        `close: 'flex items-center justify-center',`
        `modal: 'overflow-visible relative',`
       `overlay: 'overflow-auto scrolling-touch left-0 top-0 bottom-0 right-0 w-full h-full fixed',`
       `wrapper: 'relative mx-auto z-50

[2021-02-07 12:31] edwinencomienda commented on #127
waiting for vue 3 🤩🤩 thank you for this awesome library!

[2021-02-10 14:14] felixgoldstein opened #144 "Make Datepicker typeable"
Hi,

great implementation of a datepicker.
I just was not able to find an option to allow the user type in dates manually. Is this somehow supported or planed to be implemented?

Thanks.

[2021-02-14 22:16] muhammedjenos commented on #34
this happens with most of the components. i tried with the pagination component.
Currently using nuxt 2.14.12

![image](https://user-images.githubusercontent.com/2158510/107890715-c7246b00-6f33-11eb-89df-ebb2954c8b22.png)

[2021-02-15 14:03] Truemedia opened #145 "Datepicker defaulting to today (override)"
Hi,
I'm using the date picker to select historic data, so the dates for example might only occur in 2020 when the current year is 2021.

Using the built in props I can disable dates, navigation between months, and default to show the first month in the range fine.

My issue is when you click the datepicker a second time (maybe the user is revisiting the field) and it defaults to showing February 2

[2021-02-15 21:54] esseremmerik opened #146 "TDialog as component does not return object with isOk: true when OK is pressed"
Hi there,

Great work this toolset, saves a lot of time!

I believe there is an error with the current component usage of the TDialog. When used as a component, my response on the OK button is always isOK: false. When called programatically, there is no issue.
If you need more info, please let me know.

Peter

[2021-02-15 21:56] esseremmerik commented on #146
I also see the "hideReason" set to "value" instead of "ok"/"cancel"

[2021-02-18 06:07] quantumlink commented on #94
I also have this issue, but no Rails setup, I tried the above in my `vue.config.js` and still seeing the above errors which appear to be indicating two Vue instances
[code]
I've confirmed that alias seems to be active as changing the value to anything wrong indicates it matters.

[2021-02-18 06:15] pantajoe commented on #94
@quantumlink Hey! Did you really try aliasing to the `vue.runtime` in your *own* node_modules?

Like this: `vue$: path.resolve(__dirname, 'node_modules', 'vue/dist/vue.runtime.esm.js')` by resolving the node_modules path relatively with `__dirname`.

Hope this helps.

[2021-02-18 08:27] quantumlink commented on #94
I deleted my post after literally getting it to work moments after posting it.
What you wrote there works, I think what I had somehow referenced the global? Either way it seems that works.
Is this due to something that can be resolved in the plugin in how it shares the vue instance?

[2021-02-18 09:41] jeremyswright opened #147 "How to override settings (class) on single instance..."
I have a laravel application where I have `t-datepicker`s appearing in multiple places on a page. How do I override (as opposed to append) the class on the `div` on just one instance?  I need to replace the `flex flex-col` classes with `inline-block`.

This...
[code]
...produces this...
[code]
Thanks

[2021-02-18 20:55] igerslike opened #148 "[ Suggestion ] arrowWrapper / Arrow Slot on T-Rich Select"
Would be perfect if we could costumize the t-rich-select arrow same way it does with the t-select to look like the native Tailwind Forms SVG dropdown arrow.

Sorry but i cannot push a PR as my TS skills are non-existent but looking forward to this!

Keep up the great work.

[2021-02-19 15:36] alfonsobries commented on #148
Sure @igerslike Im planning  to go over the open issues late today and I'll take care

[2021-02-19 21:54] alfonsobries commented on #147
@jeremyswright  You can create a "local" variant and assign that variant to the input, in this way it will only change the new attribute:

[code]

[2021-02-19 22:00] alfonsobries commented on #146
@esseremmerik cannot see the issue are you adding the buttons manually or can I see a chunk of your code?

[2021-02-19 22:06] alfonsobries commented on #144
@felixgoldstein since most of the time I can currently invest in this project is focused on the new vue3 version no plans to add to this version for now

Something I surely will consider for the new version of the package.

[2021-02-19 22:06] #144 closed

[2021-02-19 22:14] alfonsobries commented on #145
Ok so I just found an issue, if I set the `initialDate` to a valid date in the range I want it works the first time, but if I remove the selected date and open the date picker again the date is today not the value on `initialDate`

its that the problem you are describing @Truemedia ?

[2021-02-19 22:49] alfonsobries commented on #142
@ManUtopiK no clue, the official docs use nuxt content and works fine, you can try to wrap the component on another component maybe?

[2021-02-19 23:06] alfonsobries commented on #139
@kek7198 I leave the  `query` as an example so the user know that they can use it, you can just safely remove that variable and your linter will stop yelling

[2021-02-19 23:07] #148 closed

[2021-02-19 23:07] #145 closed

[2021-02-19 23:07] #143 closed

[2021-02-19 23:08] #140 closed

[2021-02-19 23:10] alfonsobries commented on #148
@igerslike now you can use the `arrow` slot if you update to `2.1.2`

[2021-02-19 23:11] alfonsobries commented on #145
Update the library to `2.1.2` and use the `initialDate` prop to define the default active date, that should solve your problem.

if that doesnt work feel free to open this issue again

[2021-02-19 23:13] alfonsobries commented on #143
Just fixed this issue, try to update to `2.1.2`

Feel free to open the issue again if that doesnt work

[2021-02-19 23:14] alfonsobries commented on #140
hey @xewl thanks for the report, should be fixed in `2.1.2` feel free to open the issue again if that doesnt work

[2021-02-19 23:19] igerslike commented on #148
thanks a lot @alfonsobries ! <3

[2021-02-20 15:48] jeremyswright commented on #147
That's great. Many thanks.

[2021-02-20 15:48] #147 closed

[2021-02-20 17:21] #137 closed

[2021-02-20 19:40] Basti271 opened #153 "Nuxt and SSR leading to mismatch"
Hi!
thanks for your awesome plugin. I have a question regarding nuxt and the server side rendering abilities of a couple of components. For example when I embed a t-input-group like that:
`<t-input-group
      label="Password"
      feedback="Password must be at least 6 characters long"

      <t-input variant="error" type="password" />
</t-input-group>`
I get a vue warning:

_vue.runtime.esm.js?2

[2021-02-20 20:20] Basti271 commented on #153
sorry guess I made a mistake just copy the code from the docs w/o adjusting my data objects.. closing the isse

[2021-02-20 20:20] #153 closed

[2021-02-21 23:25] Miaababikir opened #154 "RTL support"
Hey,
You did a great work on the library 🔥, but is there any plan on adding RTL support or any way to setup a configuration to work with RTL websites.

[2021-02-26 11:37] mmorainville opened #156 "Documentation site is broken"
Hi,

Great library! But the documentation site has 2 main issues on my side:
- If I click on a component, the URL changes but the page doesn't change, I have to either open the page in a new tab or manually refresh the page to see the content!
- The preview of the components is loading indefinitely. When checking the console, the following error appears:
`DOMException: Failed to execute 'appendChi

[2021-02-26 14:22] handplant opened #157 "Is there a way to open the datepicker programmatically with a method?"

[2021-02-26 21:23] allaghi opened #158 "Use it with nuxt js"
Hi,
Have a nice time,
I am wondering if I could use vue-taliwind with Nuxt js .

Thanks in advance.

[2021-02-28 14:35] scriptburn opened #159 "How to use Dialog api in next"
this.$dialog is undefined in nuxt , can you plz tell how can i use it in nuxt?

[2021-03-01 16:22] canthis commented on #158
@allaghi, of course You can!

1. Go to vue-tailwind's theme builder page and generate your theme - https://www.vue-tailwind.com/theme-builder
2. In your nuxt app `plugins` folder create file called `vue-tailwind.js` and put in it all the content provided by theme-builder from step 1
3. Add `vue-tailwind.js` plugin to your `nuxt.config.js` `plugins` array like that:
[code]

Don't forget to install

[2021-03-01 16:24] nmkr opened #160 "Datepicker Slot Calender"
hello, great library :-)

i have a question about the slots in the datepicker, would it be possible to get an slot under the calender itself?
would like to add some buttons (today, tomorrow, last week, last month etc..) for some fixed dates and dateranges.

[2021-03-01 17:01] alfonsobries commented on #160
@nmkr no for the moment but sound like a good idea ill be back to this tonight to see if I can implement it quickly

btw thanks for that sponsorship @nmkr I really appreciate it 🎉

[2021-03-01 20:59] allaghi commented on #158
Thanks @canthis I will try it.

[2021-03-02 04:27] nlv-edwinencomienda opened #161 "Multiple select css problem"
![image](https://user-images.githubusercontent.com/78135357/109597125-973faf00-7b52-11eb-9073-e169b51df408.png)

[2021-03-03 17:08] DamianGlowala opened #162 "[Question] Removal of wrapping div from TInputGroup body"
Would it be possible to remove the div wrapper for the TInputGroup content? I cannot apply border-red-(...) class for danger variant of the input inside TInputGroup tags, as instead of having it applied to the input element directly, it gets applied to the outer div...

Is there any reason for why the outer div is kept, or asking differently - how could I achieve applying this class using the VueT

[2021-03-04 00:36] alfonsobries commented on #162
@DamianGlowala not sure if I get your question, maybe some example could help

You can use the `fixedClasses` setting to define a set of classes that are always applied or use the variants to only override one key of the template.

[2021-03-04 00:38] alfonsobries commented on #161
Seems like some classes are missing for you select input, the multiple setting is new and it added a few classes keys:

Take a look at https://www.vue-tailwind.com/docs/rich-select#classes-and-variants-format

selectButtonTagWrapper | Div that wraps the tags on the multiselect
selectButtonTag | Multiselect option tag
selectButtonTagText | Multiselect option tag text
selectButtonTagDeleteButton | M

[2021-03-04 00:43] alfonsobries commented on #159
@scriptburn The docs from this project use nuxt, so I can confirm that the $dialog it's working in normal circumstances. Maybe you are not registering the library correctly. If you share part of your code and how you are installing the library, I may give you a better solution,

[2021-03-04 00:44] alfonsobries commented on #158
As @canthis , closing this ticket for now

[2021-03-04 00:44] #158 closed

[2021-03-04 00:47] alfonsobries commented on #157
@handplant yep you can use the methods `doShow`, `doHide` and `toggle`

[code]

[2021-03-04 00:48] alfonsobries commented on #157
Closing this issue, for now, feel free to open again if you need something else

[2021-03-04 00:48] #157 closed

[2021-03-04 00:49] alfonsobries commented on #156
@mmorainville thanks for the report but cannot replicate it, did you notice the error on one specific page?

[2021-03-04 00:49] alfonsobries commented on #154
@Miaababikir I have no experience working with RTL but this is an important feature, ill see what I can do,

[2021-03-04 00:50] alfonsobries commented on #146
Since no more info received ill close this ticket

[2021-03-04 00:50] #146 closed

[2021-03-04 00:50] #142 closed

[2021-03-04 00:50] alfonsobries commented on #141
Is in the plan but I been under a lot of work hope to have time for this next week but no promises

[2021-03-04 00:51] #139 closed

[2021-03-04 00:53] nlv-edwinencomienda commented on #161
thank you @alfonsobries  that's it  👏

[2021-03-04 00:53] #161 closed

[2021-03-04 09:12] xewl commented on #140
It works, btw, thanks for both updates ;)

[2021-03-04 10:16] scriptburn commented on #159
Thank you for reply :)

My package.json
[code]

My tailwindconfig.js

[code]

my nuxt.config.js

[code]
my plugins/vue-tailwind.js

[code]

[2021-03-04 13:02] DamianGlowala commented on #162
Basically the error variant of TInputGroup applies border-red-500 class to the div in which the body of TInputGroup is. It slightly defeats the purpose of having a variant with `body: "border-red-500"`. If I wanted to have such wrapper, I could create it myself and instead benefit of applying variant classes to the input by default.

![image](https://user-images.githubusercontent.com/48835293/1099

[2021-03-04 13:20] DamianGlowala opened #163 "[Feature request]"
Would it be possible to have prepend and append slots for the TInput component? I'd like to add descriptive icons inside of the input field, either at the beginning or the end of it.

Example here: [Vuetify prepend and append slots](https://vuetifyjs.com/en/components/inputs/#append-and-prepend)

[2021-03-06 17:09] #162 closed

[2021-03-07 10:31] Benjamin-Lee opened #164 "Add support for lazy text inputs"
Right now, there's no way to prevent modeled variables from being changed immediately. Bootstrap-Vue solves this with a `lazy` prop, btw.

[2021-03-08 16:14] mmorainville commented on #156
Hi @alfonsobries,

Well indeed I just checked right now and I can't reproduce neither of the two issues. And I reproduced several times and days in a row, in Chrome. Weird but cool! Closing this for now I guess!

[2021-03-08 16:14] #156 closed

[2021-03-09 17:43] wdiechmann opened #165 "export 'default' was not found in 'vue-tailwind'"
I must be doing something wrong :(

Plain out-of-the-box ~~everything~~ Vue works perfectly 🥳

The minute I try to add ~~something~~Vue Tailwind (2.1.3) - I get this

[code]

My app.vue has one added element

[code]

and my javascript-pack mentions this

[code]

[2021-03-09 18:52] wdiechmann commented on #165
my devtools console tells me that

[code]

[2021-03-10 00:43] alfonsobries commented on #165
@wdiechmann

If you need to import a single component the right way to do it is like explained here:

https://www.vue-tailwind.com/docs/installation#33-or-you-can-install-only-the-components-you-need

So your import is incorrect you should use `import TInput from 'vue-tailwind/dist/t-input'`

[2021-03-10 00:44] alfonsobries commented on #164
definitely @Benjamin-Lee

ill add this to my to-do list

[2021-03-10 00:47] alfonsobries commented on #163
Hi @DamianGlowala maybe for the next version of the package, no plans for this one since adding a slot means wrapping the input in div or something (vue 2 needs a wrapper), and if I do that ill need to also make a custom theme configuration for wrapped text input, another setting, etc

[2021-03-10 01:09] wdiechmann commented on #165
Dear Alfonso

Please excuse my temper but -

This is exactly what I hate about this giant pile of s…. - one huge stack of dependencies one on top of the other amassing to a spaghetti of convoluted fog

import VueTailwind from 'vue-tailwind'
// import TInput from 'vue-tailwind/dist/t-input'

settings = {
}

Vue.use(VueTailwind, settings)

Even without importing any components - I get

hermes_1    |

[2021-03-10 01:51] alfonsobries commented on #165
@wdiechmann which version of Vue you are using?

[2021-03-10 01:52] wdiechmann commented on #165
{
  "name": "hermes",
  "private": true,
  "dependencies": {
    ***@***.***/turbo-rails": "^7.0.0-beta.5",
    ***@***.***/actioncable": "^6.0.0",
    ***@***.***/actiontext": "^6.1.3",
    ***@***.***/activestorage": "^6.0.0",
    ***@***.***/ujs": "^6.0.0",
    ***@***.***/webpacker": "5.2.1",
    ***@***.***/aspect-ratio": "^0.2.0",
    ***@***.***/forms": "^0.2.1",
    ***@***.***/typography"

[2021-03-10 02:36] wdiechmann commented on #165
It’s 3:30 in the morning - I have to go to bed :(

If I can offer any more information to help you help me understand what I am doing wrong - please do not hesitate to ask

BR
Walther

[2021-03-10 11:07] wdiechmann commented on #165
for what it's worth - I tried imitating your dependency graph with

[code]

and it compiles!

I get an "unknown custom element" but I guess that's just me being a total n00b around Vue 😢

I've added Apollo (GraphQL client) and apart from a learning curve, I'm happy to report that

[code]

works flawless

That, however, posits the question: Then, WTF, is going on?

[2021-03-10 15:49] wdiechmann commented on #165
okay - now I followed https://medium.com/swlh/how-to-integrate-vue-js-with-rails-6-5bd4c6263b18 to the letter and verified that Vue does it's magic and says Hello 😄

then I followed the https://www.vue-tailwind.com/docs/installation item 1,2 and 3 - and then I get:

[code]

I have assembled what I like to think of as the important parts here:
https://gist.github.com/wdiechmann/c179eb88bb4c769b8971

[2021-03-12 11:45] czepter opened #167 "[Suggestion] Rich select allow create"
Hi

it would be perfect if an option exists in the rich select to allow creating of a new element if the searched term is not found

[2021-03-15 11:51] Mlekar opened #168 "Rich select visual bug when multiple selected"
There's a visual bug / issue with the rich select component in multi select mode. When you search for an option (via the search box) and already have some options selected, if you select a new one the existing option tags will disappear from the select input (while staying selected, visible in the dropdown).

You can replicate this on the docs page, if you search for ''Option A'' in the example an

[2021-03-16 22:50] #168 closed

[2021-03-16 22:55] alfonsobries commented on #168
@Mlekar should be fixed on v 2.1.4

[2021-03-19 15:07] alitnk opened #171 "Focus trap in modal"
Is there any way to customize the modals for focus trap?

Currently if I keep pressing tab in a modal, the focus goes outside of it (to navbar, etc.).

[2021-03-19 15:38] blaadje commented on #129
looking for this feature as well

[2021-03-19 16:11] jamesfromldn opened #172 "DatePicker Input Icon Slots"
Hey, thanks for the awesome library!

### Issue
I needed to display icons in on each side of the `t-datepicker` `<input>`

Here's a preview of the `custom input` created by wrapping `t-datepicker` in a `div` and  `absolute` positioning the icons<br />
![Screenshot 2021-03-19 at 17 05 07](https://user-images.githubusercontent.com/54307057/111809460-490e0800-88d5-11eb-9cca-4d9cb6b21961.png)

The pro

[2021-03-22 17:22] DamianGlowala commented on #141
@alfonsobries Thank you for all the hard work on this library!

I'd like to follow up on the timepicker progress and kindly ask if we can expect a release anytime soon? If so, would you be able to provide any estimate on this?

[2021-03-25 03:31] alfonsobries commented on #141
@DamianGlowala ill do my best to have it next week, already started
![image](https://user-images.githubusercontent.com/17262776/112414796-4dc52880-8ce8-11eb-9108-4410fab03659.png)

[2021-03-25 13:52] jaulz opened #173 "Use portal for rich select"
I noticed that rich select components do not work well in containers that have hidden overflows. Is there any plan to use a portal for the rich select?

[2021-03-25 14:28] alfonsobries commented on #173
@jaulz not for this version of the package but is something I'll try to implement in the v3 if I found a way to keep it simple

[2021-03-25 14:31] jaulz commented on #173
@alfonsobries exciting 😊  will v3 be for Vue 3 or also for Vue 2?

[2021-03-25 14:43] alfonsobries commented on #173
@jaulz vue 3

[2021-03-26 02:29] igerslike opened #174 "Transitions with Tailwind JIT"
Hey Alfonso, hope your doing fine!

Im wondering if you have tried Tailwind JIT yet, not sure if this a thing with tailwind JIT or both together, but seems like transitions for modals / selects / Date pickers are a bit messed up when using JIT as compiler, im wondering if this is related on how you create the transition element, because my transitions wrapped in <transition> component are doing ju

[2021-03-27 01:16] #174 closed

[2021-03-28 08:36] canthis opened #176 "RichSelect disabled prop not working in multiple mode"
As mentioned in the title, `disabled` prop is not working on TRichSelect together with `multiple` prop

[2021-03-30 03:03] #173 closed

[2021-04-03 00:37] edwinencomienda opened #179 "Date picker placeholder not working"
Placeholder date picker not working and showing only not required

![image](https://user-images.githubusercontent.com/26597108/113463327-c26e3480-9457-11eb-9ed0-58d54858c4aa.png)

[2021-04-03 00:48] alfonsobries commented on #179
@edwinencomienda just upgrade the package to the Latest version that was a typo I introduced by mistake on 2.1.2 but was fixed in the next releases

[2021-04-03 07:15] edwinencomienda commented on #179
yeah fixed when upgrading thanks @alfonsobries

[2021-04-03 07:15] #179 closed

[2021-04-07 09:37] tobiasdiez opened #180 "Upgrade to postcss 8"
Currently, vue-tailwind declares the dependencies
[code]
It would be nice if you could upgrade this to postcss 8 and remove the tailwind compatibility tag.

[2021-04-11 00:39] alfonsobries commented on #141
good news @DamianGlowala @Reached I just released the time picker feature, just update to  `^2.2 ` and check the documentation https://www.vue-tailwind.com/docs/datepicker#timepicker

[2021-04-11 00:39] #141 closed

[2021-04-13 01:00] razbakov commented on #173
Experiencing the same problem. I am trying to make a horizontally scrollable list of filters like on Airbnb

[2021-04-20 13:18] Reached commented on #141
@alfonsobries well done!!

[2021-04-22 00:57] 19peaches commented on #180
Yeah this is an interesting package, way too much config really, but not using all the current requirements of Tailwind is a dealbreaker.

[2021-04-22 01:00] 19peaches opened #183 "Question: Where's the community?"
I see in the theme builder there's an option to share themes ... where's the community that I can find said themes?

[2021-05-01 00:48] chrisvidal opened #185 "datetime picker"
Hi,
is it possible to use the component DatetimePicker only in an HTML form. And how can we achieve that?

[2021-05-04 17:04] chandlertrinity commented on #127
Any update on this? I would love to use in my next app!

[2021-05-10 14:01] 19peaches opened #189 "[Package] Vue-Tailwind Settings"
Hey @alfonsobries

I just published a new package at https://github.com/19peaches/vue-tailwind-settings for user to quickly scaffold out the default configs.

You might want to reference it somewhere in the main site if you think it'll be helpful to others.

All the config settings are the main reason it took me so long to adopt the package, so I decided to build this to help myself and other quic

[2021-05-11 07:36] onmax opened #190 "Some CSS classes not working as expected with Tailwind JIT"
Hey, I am new to this library so probably I am doing wrong but I don't what. Here is my problem:

First of all, I am using Tailwind JIT mode.

I am also using the rich text select with same classes as the docs and multiple option activated. In this config, we have for example the following property `props.fixedClasses.selectButtonTag` being one the classes `bg-blue-500` (or any other, it's just fo

[2021-05-18 10:17] smensel opened #194 "datetime picker - start/end date"
Hello,
is it possible to set a start and/or end date for the datetime picker?
E.g. I would like to show as selection only the last 10 years until today.

[2021-05-18 11:43] robtesch commented on #165
For what it's worth, I'm having the exact same issue. I've even tried to "v1 syntax" approach and I'm just getting:

`export 'VueTailwind' (imported as 'VueTailwind') was not found in 'vue-tailwind' (module has no exports)`

[2021-05-18 14:10] alfonsobries commented on #194
@smensel yes you can use a function to disable any date that is < 10 years see https://www.vue-tailwind.com/docs/datepicker#disable-dates

[2021-05-19 11:26] robtesch commented on #165
@wdiechmann did you ever find a resolution to this issue?

[2021-05-19 11:58] wdiechmann commented on #165
@robtesch nah - @alfonsobries gave me directions (that I was not able to follow) so ...

But our current package.json looks like

[code]
and (one of) my "packs" - appointment.js looks like this

[code]

so I guess we went with the "railsy" way of doing stuff - using Stimulus - which I am saddened by because I really like the Alpine thinking but hey, you know, when things don't move you gotta make

[2021-05-19 12:02] robtesch commented on #165
Thanks for the input. I've managed to get things moving myself just now by changing my webpack config so that it doesn't use babel-loader anymore. I have no idea what I'm doing when it comes to webpack so I just tried stuff until suddenly things worked.

[2021-05-19 12:21] wdiechmann commented on #165
@robtesch and that is boiled to the bone exactly my sentiment with regards to webpacker (and friends)

there is simply too many moving cogs and pins in that stack!

TailwindCSS is perfect - the JIT though already is forcing me to cargo-cult with 27 deps and another 17 devdeps

AlpineJS is fine too - but even that has 16 devdeps and my guess is that by June 16th it will have another 5-10 deps and t

[2021-05-19 13:59] mort3za opened #195 "T-select runs @change event two times"
If you add `@change` on `<t-select />` it will execute the onChange method two times. Once with $event parameter and second time with it's new value.

`<t-select @change="onChange" :options="[1, 2, 3]" v-model="mymodel" />`

[code]

[2021-05-19 20:12] kek7198 opened #196 "Hide dropdown when you click away?"
Not sure if I missed it in the docs, but is there a way to automatically hide any dropdown it loses focus?

[2021-05-21 13:22] agilov commented on #127
It seems that Vue3 is still not supported. Waiting for this.

[2021-05-25 08:35] daanbeverdam opened #197 "t-button not setting href when used as router-link"
When you use the `t-button` component as a router link (by specifying the `:to="/path"` attribute) no link preview is being shown when you hover over it. I feel like the `t-button` component should automatically set the `href` attribute just like router links do.

[2021-06-02 03:36] iteniasim opened #200 "Rich select, selected options dont have css, and problem when using array of objects as options in multiple mode"
In t-rich-select, it is not known where to pass the classes for the selected options rendered in the input box when the mode is multiple.

and when we use options as array of objects for multiple mode, like so

`                 <t-rich-select
                    multiple
                    :close-on-select="false"
                    :options="categories"
                    value-attribute="id"

[2021-06-03 00:56] timothymarois opened #202 "Component Request: Tabs"
Hello, I noticed there weren't any tab components, you have tables, modals, dropdowns which are advanced from standard HTML wrappers like most of the other utility-based components you have. I think another great essential component should have `<t-tabs>`, just wanted to see what your thoughts are here and if there are any plans to add this. Thanks. Nice work on everything else so far!

[2021-06-03 01:02] timothymarois opened #203 "Component Request: Button Groups"
Hey just wanted to also throw this one up, as you have input groups, what about the idea of **button groups**? This seems like another useful feature, allowing you to group buttons together to be properly styled and useful for other types of menu/dropdowns. Thoughts on this one?

[2021-06-03 20:41] alfonsobries commented on #180
@tobiasdiez tailwindcss/postcss is now a dev dependency so you can use whatever you like

It should have been like that from the beginning. I don't know how they got as dependencies.

[2021-06-03 20:41] alfonsobries commented on #180
Closing this but feel free to open if you have something more to add

[2021-06-03 20:41] #180 closed

[2021-06-04 02:39] rhanmiano opened #204 "Missing styles after running nuxt generate."
Hi, I would just like to get some help with regard to my problem. Everything seems working fine when running `npm run dev`. But after running the generate command `npm run generate` `npm run start` __vue-tailwind modal__ styles are broken.

Attacking screenshots here for illustration purposes.
Dev mode:
![dev-mode](https://user-images.githubusercontent.com/31644925/120737657-0eedf300-c521-11eb-8ab

[2021-06-04 09:50] axquired24 commented on #204
![image](https://user-images.githubusercontent.com/9043550/120783075-dd8f1a80-c554-11eb-8221-fcbdf04da96c.png)

Found the same issue, watching for any update on this ⬆️

[2021-06-08 03:44] rhanmiano commented on #204
Was able to temporarily solved my issue by downgrading to 0.x version of `vue-tailwind`.

[2021-06-08 12:32] jerots commented on #200
facing the same issue here

[2021-06-10 14:20] Truemedia commented on #145
@alfonsobries Yes sorry for the late reply, yes that was my issue if I have any problems with the newer version I'll open another ticket thanks

[2021-06-13 21:40] andyjamesn opened #205 "Using with Nuxt & vue Composition API"
Hi, I am aware this will not work with Vue 3 but I am using Nuxt with the composition API which works.. sort of..

I can for example trigger a dialog using a click event in the <template>

[code]

Obviously this is not ideal. Do you have any idea how I could access $dialog from inside the setup() method as this.$dialog is not available. But since it works in the template as shown above I can't hel

[2021-06-16 06:32] 19peaches opened #206 "[BUG] Needs to be updated to Vue 2.6.14"
Alphonso,

Version 2.3.0 and below will no longer install for the current version of Nuxt (2.15.7) as it requires Vue assets 2.6.14

[code]

I think that's all but there could be more.

[2021-06-16 13:21] Mlekar commented on #206
Also just getting errors when trying to build assets, since there's a version mismatch for the Vue and Vue-template-compiler libs if you update them (since this package still depends on the older versions)

[2021-06-16 22:02] gazben commented on #176
Can confirm.

[2021-06-22 09:57] elliotsoomro commented on #206
Can confirm this. Can't run npm run dev since it produces Nuxt Fatal Error, Vue packages version mismatch
- vue@2.6.13
- vue-server-renderer@2.6.14

[2021-06-24 17:34] igerslike commented on #190
In this case i would recommend adding the JS files of vue-tailwind and also your custom setup/classes to the tailwind ignore list. This way tailwind JIT is able to read them and include them in your bundle.

[2021-06-24 17:39] igerslike commented on #127
Hey @alfonsobries not wanting to put any pressure, but how we going with vue3 updates so far? Is there any timeline we would be looking at ?

[2021-06-25 13:54] jaytonic commented on #127
Hi,

Sorry to add to the list, but I'm wondering if VueTailwind is still planned to be ported on the Vue 3?

I find awesome TailwindCss for my layout, but from a logic point of view, it feels naked(no configurable component, drawer, date picker, ...) all things I could probably implement with a lot of time but I'm not here to re-invent the wheel. This project was the closest thing to a TailWind co

[2021-06-25 14:00] agilov commented on #127
Try https://tailwindui.com/

пт, 25 июн. 2021 г. в 20:54, jaytonic ***@***.***>:

--
Всего доброго.
Роман.

[2021-06-25 15:57] jaytonic commented on #127
They look cool, but they look like more layout providers, there is no components like date picker, star rating,...

[2021-06-26 13:28] tobiasdiez opened #208 "Auto-size input and text area"
For some strange reason, it is not possible to auto-size `input` and `textarea` to fit their content using HTML & CSS only. There are a few simple workarounds that for example use a hidden div to determine the correct size, and then resize the text accordingly.
For example, the following is the tailwind version of https://css-tricks.com/the-cleanest-trick-for-autogrowing-textareas/
[code]
It works

[2021-06-28 14:16] 6XGate commented on #206
This does beg the question; why the peer dependency is so strict and not using `^`?

[2021-06-28 14:23] alfonsobries commented on #206
Thanks for the report I'll fix this tonight

[2021-06-28 23:24] alfonsobries commented on #206
@19peaches @6XGate @Mlekar @elliotsoomro

Just updated the library to use a flexible version of vue, upgrade the lib and `^2.4.0` let me know if that fixes your problem

[2021-06-29 06:31] Mlekar commented on #206
You still have Vue 2.6.13 listed as a peerDependency in your package.json, which causes errors / warnings when updating via NPM

[2021-06-29 14:51] alfonsobries commented on #206
@Mlekar right updated only dev dependencies 😅, should be fixed on `^2.4.1`

[2021-06-29 19:46] 6XGate commented on #206
Just recently tried the latest release against 2.6.14 myself with no issues

[2021-07-05 10:09] faizalami opened #209 "Modal Closed on Moving Mouse Click to Outside"
https://user-images.githubusercontent.com/6519497/124453276-6944d280-ddb1-11eb-8d6a-6b7f27d33d8a.mp4

The condition is when you are clicking and holding the mouse inside the modal box and dragging until suddenly the mouse is moving outside the box, the modal will suddenly closing.

[2021-07-05 10:45] mort3za commented on #196
You can use `clickToClose` or `escToClose` properties.

[2021-07-08 04:22] jonathanjameswilliams26 opened #210 "Datetime picker CSS not working correctly"
Hi,

I am having some issues with the datetime picker, the CSS for the time doesnt seem to be working.

I am using NuxtJS and have the following which was generated:
[code]

Then I am using the datetime picker by:
[code]

Which has a result of:
![image](https://user-images.githubusercontent.com/37890156/124861930-d21d8c00-dff7-11eb-9f94-f64bcc832857.png)

[2021-07-08 11:00] michaudhugo opened #211 "Rich select & clearable option"
Hi,

When using the TRichSelect component, it's possible to set :clearable="true'.
But I can't exactly figure out if it's working fine or not.

In my component wrapping a TRichSelect, I have a reactive array of values.
I pass this array to the TRichSelect via :value="myReactiveArray".
When I select different options in the dropdown, myReactiveArray is updated just fine.
When I try to clear the sel

[2021-07-08 17:05] DamianGlowala opened #212 "TCheckbox :checked attribute cannot be controlled externally"
I have a custom data table component which has a select-all items/rows feature for which I used a TCheckbox, as shown below:

![image](https://user-images.githubusercontent.com/48835293/124961928-57b43280-e01e-11eb-92af-772b41137715.png)

My assumption was the select-all checkbox will work when coded the following way (user can deselect all items if they are all selected or the opposite way - sele

[2021-07-08 22:40] DamianGlowala opened #213 "Allow radio buttons to be deselectable"
A nice enhancement would be to allow the radio buttons to be deselected when a currently selected radio button gets clicked. It could be enabled both for the TRadio and TRadioGroup with a prop like `deselectable`.

[2021-07-08 23:46] MFredX commented on #190
@igerslike, can you elaborate further on this? I'm having the same issue

[2021-07-08 23:51] igerslike commented on #190
just add vue tailwind dir ( node modules ) and your own class settings js file ( in case you have one )  to the jit safe/whitelist path@MFredX  , also please make sure your using a vanilla webpack or whatever your using to compile your js.

[2021-07-08 23:55] igerslike commented on #200
your probably missing some css/slot from the default config

[2021-07-09 02:25] MFredX commented on #190
@igerslike thanks for your reply.

Realised that my app is actually not in JIT mode and my issue is different.

I am just having trouble using this library with my existing default Tailwind css setup as it overwrites the Vue-tailwind CSS

[2021-07-13 05:44] MFredX commented on #200
I had the same issue but I didn't include any props in my vue-tailwind.js and it seemed to fix it.
My vue-tailwind.js looked like this
[code]

[2021-07-14 05:50] LuizPelegrini commented on #210
Hi @jonathanjameswilliams26 I am also facing the same issue, did you manage to figure it out why it is like this?

[2021-07-15 23:39] alfonsobries opened #214 "What about the vue 3 version? 🤨"
Hey folks!

A lot of you have been wondering what happened with the next version of this package and if it will be ready soon, so I created this issue to give you all the details:

### New name

1. The new version will have a new identity that better represents this new version. First of all, I am working on a sibling for React and potentially another for Alpine.js, and if I find the time for svel

[2021-07-17 11:44] KimangKhenng opened #215 "Rich Select's required prop not working properly"
I used <t-rich-select> with fetch-options to get options from servers. I put it inside a form so that the required prop can be used.
However, the required prop doesn't do anything when I try to submit. the form simply bypassed <t-rich-select>.
Here is my example:

[code]

[2021-07-17 12:05] alfonsobries commented on #215
@KimangKhenng can yo share the fetch options method?

[2021-07-17 22:55] KimangKhenng commented on #215
Thanks for your reply,

This is my fetch-optons function.

`fetchOptions (q) {
      return fetch(`${this.$config.baseURL + apiHead}miscellaneous/nationalities/search?name=${q}`)
          .then((response) => response.json())
          .then((data) => ({ results: data.items }))
    },
`

[2021-07-18 17:25] alfonsobries commented on #127
Will move all the discussion related to vue 3 version yo here https://github.com/alfonsobries/vue-tailwind/issues/214

[2021-07-18 17:25] #127 closed

[2021-07-18 17:26] alfonsobries commented on #138
Will move all discussions related to vue 3 to here https://github.com/alfonsobries/vue-tailwind/issues/214

[2021-07-18 17:26] #138 closed

[2021-07-18 19:04] #206 closed

[2021-07-18 19:27] jaytonic commented on #214
Just wondering:
- Will this still be based on tailwind css?
- Are you sure that also providing it for react will not slow down the dev or limits its feature?

I'm especially curious on how you can take advantage on stuff like composition API and still providing it for react and vue?

[2021-07-18 20:04] alfonsobries commented on #214
1. Yes, will be based on tailwind but ready for any css framework (like this one)
2. React also uses composition, (actually came first there)
3. I'm moving most of the common and more complex stuff into a separated core library https://github.com/variantjs/core
4. Im doing my best with the test suite and the code itself to encourage collaboration, so, yes Can potentially slow down the development

[2021-07-19 23:02] alfonsobries commented on #215
@KimangKhenng cannot find any issue with the method so maybe the result from your API doesn't is being properly formated, what do you see if you `console.log(data.items)` for example?

[2021-07-19 23:03] alfonsobries commented on #205
cannot say if it's possible so help you with that will require to dig into the code, mount a nuxt app etc, nothing I can do right now, so closing for now

[2021-07-19 23:03] #205 closed

[2021-07-19 23:04] #165 closed

[2021-07-19 23:04] alfonsobries commented on #164
Ill add this on the vue3 version https://github.com/alfonsobries/vue-tailwind/issues/214

[2021-07-19 23:04] #164 closed

[2021-07-22 16:14] kek7198 commented on #214
I would be interested in contributing some design work :)

[2021-07-24 15:15] KimangKhenng commented on #215
Hi @alfonsobries ,

Once again, thanks for your attention!
this is the console output when I search with keyword : **_cam_**

[code]

[2021-07-26 07:22] Mlekar commented on #215
It doesn't work with a regular rich select either (options supplied from an array for example). Even though the required prop is set, you can just submit anyway without any problems. So I believe the required prop doesn't do anything just in general.

[2021-07-27 22:59] tobiasdiez commented on #164
Instead of using a `lazy` prop as bootstrap-vue does, I would propose to support the `v-model.lazy` modifier https://vuejs.org/v2/guide/forms.html#lazy (if this is possible). In the past this was hard to implement, but maybe got easier with vue3? See https://github.com/vuejs/vue/issues/5743

[2021-08-04 09:19] everydaysoftware commented on #200
You need to add

[code]

in your settings in either fixedClasses or classes (depending on how you want to customize it in variants).

@alfonsobries: It is missing in the shipment and on the "Customizing" and "Settings" tab.

[2021-08-08 10:41] frederikhors commented on #214
@alfonsobries, I think you should immediately put us in a position to try the components with 3 (even using the master branch) so that we can help you more in development (even graphics).

[2021-08-11 04:18] phamhongphuc commented on #214
I think you should config a mono repo. It will be easier to grow in a long time.

[2021-08-12 23:29] atymic opened #220 "Inertiajs forms support"
Hey, not sure if it's outside the scope of this library, but it would be awesome to have a set of components for inertiajs forms

Happy to create a new lib if so, but something like this.
Anyone keen on this? Done a few components inside my app, but would be awesome to have it open source :)

[code]

[2021-08-21 15:22] DamianGlowala opened #222 "Datepicker without a text field"
Would it be possible to completely remove the input field of the datepicker by passing a prop?

[2021-08-21 16:02] DamianGlowala commented on #222
Resolved by providing a config variant. Something potentially to consider in the new upcoming framework :)

[2021-08-21 16:02] #222 closed

[2021-08-22 07:36] loic001 commented on #195
We have the same behavior for t-input and I think that's a serious performance issue.

[code]

We can clearly see that with a computed property:
[code]

I guess it's because of the double watchers on the prop and localValue [here](https://github.com/alfonsobries/vue-tailwind/blob/a73d04e982c3cb2090891d204cfd4a85df2f5793/src/base/TextInput.ts#L46)... This pattern is used:
[code]

I don't really see

[2021-08-22 08:24] loic001 opened #223 "t-input input event called twice"
Hello, I create a new issue for that because I think it's an important one. The input event is called twice, and the same applies to other components (t-select, ...).

[code]

We can clearly see that with a log in the setter of a computed property:
[code]

I guess it's because of the double watchers on the prop and localValue [here](https://github.com/alfonsobries/vue-tailwind/blob/a73d04e982c3cb2

[2021-08-22 13:58] bishwajitcadhikary opened #224 "t-input - variant props notworking"
![Alt text](https://snipboard.io/cmfb3Q.jpg?raw=true "Title")

[2021-08-25 10:35] yubarajshrestha opened #225 "t-rich-select default selected option."
Unable to add default selected value for t-rich-select when `fetch-options` is enabled. Is there any proper documents on how we can add default select option or is there any way we can trigger fetch-options on component load to load the default list.

[2021-09-02 11:49] gijsmooren commented on #225
A quick work around is to set the selectedOption/selectedOptions manually:

[code]

If I have time I will look into the code of this project to make a PR

[2021-09-13 03:50] LuizPelegrini commented on #34
This error is still happening for the pagination component. @muhammedjenos did you manage to find a solution to it?

[2021-09-13 19:46] thomas4Bitcraft opened #226 "Datepicker Error on focus"
There is an error when trying to manually type in the date:

[code]

Here is my component:

[code]

Anybody already had this issue and is there maybe a workaround?

[2021-09-20 14:12] thomas4Bitcraft commented on #226
Really nobody?

[2021-09-22 17:28] onmax opened #229 "'white-space-no' instead of 'white-space-normal' in rich select component"
In the [TRichSelect config file](https://github.com/alfonsobries/vue-tailwind/blob/21f6d5f97fa167948422c5b0ef8ffa8252b7c756/src/components/TRichSelect.ts#L105), the classname `white-space-no` is being used. But, the real class name in Tailwind is `white-space-normal`. See [official documentation](https://tailwindcss.com/docs/whitespace#normal)

[2021-09-25 00:18] alfonsobries commented on #214
Preview version ready, feel free to open issues or PR if you encounter any error, also consider that is a preview version and is subject to change.

Docs and stable version soon 🤞

https://github.com/variantjs/vue

[2021-09-27 16:41] timothymarois commented on #202
Looks like this library is dead. Will no longer be using it since the support isn't there. I know how hard it is to keep an open-source package going, it's unfortunate cause this was a really nice and simple library. Looks like the author has moved on.

[2021-09-27 20:30] alfonsobries commented on #202
@timothymarois not dead but most of my energy is on the new version so if you need a faster support probably using another alternative is the best option

Pd There are many ways you can support the project that help me to increase the time i spent on it 😉

[2021-09-27 20:30] #202 closed

[2021-09-27 23:34] alfonsobries commented on #229
@onmax thanks fixed on `2.5.0` with the `whitespace-nowrap ` class

[2021-09-27 23:34] #229 closed

[2021-09-27 23:35] alfonsobries commented on #224
@bishwajitcadhikary please reopen this pr with more details and steps to reproduce the issue

[2021-09-27 23:35] #224 closed

[2021-09-30 11:54] onmax opened #231 "Feature request in TRichSelect - Add button to close selector"
In `TRichSelect` since June, users can select more than one option using the prop `multriple=true`

As far as I am concerned, the default way to close the list of the selector is:
- Click one of the options and the selector will close (can be disabled)
- Click outside the selector

Ok then, if I want to add multiple selections, I have to disable the first option and the user has to click outside t

[2021-10-05 09:04] amkatyshev opened #232 "Bug with nested results for TRichSelect"
I found one interesting point related to the work of TRichSelect
Generating nested elements requires a children key,
In my case, the data for TRichSelect is generated using FetchOptions and as a result I get the following data:
[code]

Unfortunately for nested childrens, the normalizeOptions function ignores the textAttribute and valueAttribute data. Hence it turns out that the list is not rendere

[2021-11-20 16:40] stevebauman commented on #196
Hey @gray0101, it's in the docs (took me a while to find as well since it's not default behaviour).

https://www.vue-tailwind.com/docs/dropdown/#default-slot

I simply call the `hide()` scoped method when an element is clicked in the dropdown. You can also bind the `@blur` handler as well:

[code]

[2021-11-27 02:54] luvejo commented on #158
Hi, @alfonsobries. What do you think about this StackOverflow [solution](https://stackoverflow.com/a/65781612)?

[code]

[2021-12-01 18:30] shawnhwei commented on #215
I've also noticed this. Seems "required" was forgotten in the renderer.

https://github.com/alfonsobries/vue-tailwind/blob/7abbabc859ce33e13306959bc492607e9d01f721/src/renderers/TRichSelectRenderer.ts#L149.

[2021-12-19 17:26] tobiasdiez opened #236 "Provide ES build"
With the new nuxt framework pushing es modules, it would be nice if vue-tailwind could be distributed also as an es module.

Thanks for the library!

[2021-12-21 16:55] demesiooliveira commented on #225
Hey guys

I have a similar problem, I have a form that uses rich text, but when I edit the information I can't load the field's information.

Does anyone have any solutions?

[2021-12-22 00:43] hjJunior commented on #226
I can reproduce it, seems to happen when you press a key

[2022-01-15 23:30] Jetro223 opened #238 "TRichSelect - Buttons in DropdownUp and DropdownDown do not register click in Safari"
I found a strange bug (Safari only, tested in 14.1.2).

When you have a button in the dropdownUp or dropdownDown slot the select disappears before the button click is registered.

Repro: https://www.vue-tailwind.com/docs/rich-select/#dropdowndown-slot

1. Enter a value
2. Click fast => new value is inserted in select
3. Click slowly (mousedown, wait, mouseup) => select is closed, new value is not

[2022-01-21 16:37] bayuaji08 opened #239 "How to display Datepicker only year?"
I want to pick display only year, without end of day and month after it.

[2022-01-31 10:46] ValentinCreative commented on #167
Hi, I could need this feature too 👍

[2022-02-16 11:33] talhacan opened #242 "[help wanted] t-rich-select grouping options"
is it possible to use `<optgroup>` inside t-rich-select
![Ekran Görüntüsü (22)](https://user-images.githubusercontent.com/5582418/154255809-0b0a7077-ff70-40f8-b37e-a2216312a1b2.png)

[2022-02-24 04:48] matthewknill commented on #242
I would like to do this as well

[2022-02-24 04:59] matthewknill opened #244 "How to blur T-rich-select dropdown upon select"
Currently, when I select an option, the component is not blurred as follows:
![image](https://user-images.githubusercontent.com/50228686/155460569-0d49892c-ef58-45a0-a52f-937df1d28b5e.png)

This doesn't bother me too much, however, when I go to another tab on my browser and then come back, it opens the dropdown without me even clicking on it:
![image](https://user-images.githubusercontent.com/5022

[2022-03-14 18:59] iBobik opened #246 "Dropdown without JavaScript"
We would like to have navigation working even in cases when JS does work. For navigation we need some dropdown component, but this one does not work without JS enabled.

It is possible to code dropdown by just focus-within CSS pseudoclass:
https://tailwindcomponents.com/component/pure-css-dropdown-using-focus-within-with-animation

It is ok to use JS for less important features.

[2022-03-18 21:08] iBobik opened #247 "<router-link>'s tag prop is deprecated"
This:
[code]
Prints in console:
[code]

[2022-03-22 12:48] eguidotti opened #248 "Pagination in Rich Select"
Hi there, and thanks for this great framework!

I'm trying to implement a rich select that pulls the data from an API and displays the results in a dropdown menu. The results can be many and they should be paginated, e.g., with a load-more button or infinite-scroll in the dropdown.

I followed your example [here](https://www.vue-tailwind.com/docs/rich-select) and it works great, but I can't find a

[2022-04-01 18:55] iBobik opened #250 "Semantic TCard (and others)"
Curently it produces non-semantic HTML:
[code]

But I would like to have it better readable by screen readers and search engines, so better markup would be:
[code]

I am not sure if it is good idea to make it default, but it definitely be useful to have it configurable by props.

Is PR welcome?

[2022-05-06 02:27] eguidotti commented on #248
Any hint so far? :(

[2022-05-12 10:36] hermanno18 opened #255 "not working with vueJS3"
I tried to install vue-tailwind on my vueJS 3 project, but i dont know how to add it on my app instance since Vue3 don't use the Vue Object, but the CreateApp() method

[2022-05-12 10:38] #255 closed, assigned to nobody

[2022-05-15 20:58] dasturchiuz commented on #248
[code]

[2022-05-16 05:57] eguidotti commented on #248
Thanks! It seems that the value of `nextPage` is irrelevant. To turn pagination on, I just set `hasMorePages` to `true`

[code]

Cheers

[2022-05-16 05:57] #248 closed

[2022-06-06 08:59] kal commented on #226
I have the same error I think. It looks like the cause is this line:
 https://github.com/alfonsobries/vue-tailwind/blob/7ff9278d66a8b75234fbfedcd6dc1ed1c51f50cf/src/components/TDatepicker.ts#L573

If you have no timepicker then $refs.timePicker is null leading to the error. A simple fix would be to change the line to

[code]

[2022-06-10 19:45] msslgomez opened #257 "Checkbox not working, value never changes"
How am I supposed to use the checkbox correctly, it doesn't work how I would expect. When I click on the checkbox the field `form.remember` never changes even as the checkbox is being checked and unchecked.

[code]

[2022-06-11 12:36] alfonsobries commented on #257
You can create your own library

[2022-06-11 12:36] #257 closed, assigned to nobody

[2022-06-11 16:23] msslgomez commented on #257
🙃 I like this library. Thanks I guess.

[2022-06-14 22:06] alfonsobries opened #259 "🚨 [Important]: project status"
see https://github.com/variantjs/vue/issues/58

[2022-06-15 19:30] #213 closed

[2022-06-22 10:20] gianmarx opened #260 "Header Modal Customize"
I would like to insert an icon in the header of a modal, I have no idea how to do it is possible?

[2022-06-22 12:13] #260 closed, assigned to nobody

[2022-10-17 14:16] the-overdriven opened #263 "Variants don't work"
[code]

None of these work for me. Passing a variant removes all default classes. Only if I don't pass any variant it will render something that looks like a button.

Are docs even up to date?

You provide an example https://www.vue-tailwind.com/docs/button with different radio buttons but without any code (usage example). Except "basic example" which doesn't showcase any attributes.

[2022-10-24 01:58] armando-nurimansyah-ssg1 opened #264 "How use t-dropdown in file .tsx"
Hello,

I have some problem with t-dropdown. I use .tsx in my nuxt project, i put t-dropdown in render(h){}. but i got error vue warn failed to resolve directive slot.

this my source code for t-dropdown
![image](https://user-images.githubusercontent.com/56640858/197432763-08fe8220-a904-4ef3-a10a-351fa7fc2301.png)

please help me,
thank you